<ion-header>

  <ion-toolbar>
    <ion-title>Share Recipe</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-list>
      <ion-item lines="none">
        <ion-avatar *ngIf="recipe.images && recipe.images.length > 0" slot="start">
          <img src="{{ recipe.images[0].location }}">
        </ion-avatar>
        <ion-label>
          <h2>{{ recipe.title }}</h2>
          <p class="ion-text-wrap">
            When sharing, a copy of this recipe will be sent to the recipient. Your copy will not be affected.
          </p>
        </ion-label>
      </ion-item>

      <div class="share-method-container">
        <ion-segment (ionChange)="shareMethodChanged($event)" value="account">
          <ion-segment-button value="account">
            RecipeSage
          </ion-segment-button>
          <ion-segment-button value="link">
            Link
          </ion-segment-button>
          <ion-segment-button value="embed">
            Embed
          </ion-segment-button>
        </ion-segment>
      </div>

      <div [ngSwitch]="shareMethod">

        <div *ngSwitchCase="'link'">
          <br />
          <ion-item lines="none">
            <ion-label class="ion-text-wrap">
              <p>
                Copy the link below<span *ngIf="!hasWebShareAPI">&nbsp;or press the share icon</span>&nbsp;to share
              </p>
            </ion-label>
          </ion-item>
          <div class="codeBlock">
            <div class="code" [ngClass]="{ hasActionButton: hasWebShareAPI }">
              {{ recipeURL }}
            </div>
            <ion-button fill="clear" *ngIf="hasWebShareAPI" (click)="webShare()">
              <ion-icon name="share" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button fill="clear" *ngIf="!hasWebShareAPI && hasCopyAPI" (click)="copyCodeToClipboard()">
              <ion-icon name="copy" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
          <textarea id="codeBlockCopy" type="text" class="invisible" [ngModel]="recipeURL"></textarea>
        </div>

        <div *ngSwitchCase="'embed'">
          <br />
          <div class="preview-settings-container">

            <recipe-preview [url]="recipePreviewURL" [description]="'Embed Preview'"></recipe-preview>

            <ion-item>
              <ion-toggle [(ngModel)]="embedConfig.titleImage"
                (ngModelChange)="updateEmbed(true);"
                slot="start"></ion-toggle>
              <ion-label>
                Show Title Image
              </ion-label>
              <ion-icon name='image' slot="start"></ion-icon>
            </ion-item>

            <ion-item>
              <ion-toggle
                [(ngModel)]="embedConfig.verticalInstrIng"
                (ngModelChange)="updateEmbed(true);"
                slot="start"></ion-toggle>
              <ion-label>
                Disable Columns
              </ion-label>
              <ion-icon name='swap-horizontal' slot="start"></ion-icon>
            </ion-item>

            <ion-item>
              <ion-toggle
                [(ngModel)]="embedConfig.showPrintButton"
                (ngModelChange)="updateEmbed(true);"
                slot="start"></ion-toggle>
              <ion-label>
                Show Print Button
              </ion-label>
              <ion-icon name='print' slot="start"></ion-icon>
            </ion-item>

            <ion-item>
              <ion-toggle
                [(ngModel)]="embedConfig.hideSource"
                (ngModelChange)="embedConfig.hideSourceURL = embedConfig.hideSource; updateEmbed(true);"
                slot="start"></ion-toggle>
              <ion-label>
                Hide Sources
              </ion-label>
              <ion-icon name='link' slot="start"></ion-icon>
            </ion-item>

            <ion-item>
              <ion-toggle
                [(ngModel)]="embedConfig.hideNotes"
                (ngModelChange)="updateEmbed(true);"
                slot="start"></ion-toggle>
              <ion-label>
                Hide Notes
              </ion-label>
              <ion-icon name='document-text' slot="start"></ion-icon>
            </ion-item>
          </div>

          <ion-item>
            <ion-input type="number" [(ngModel)]="embedHeight" (ngModelChange)="updateEmbed();" slot="start"></ion-input>
            <ion-label>
              Height (not shown)
            </ion-label>
            <ion-icon name='resize' slot="start"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-input type="number" [(ngModel)]="embedWidth" (ngModelChange)="updateEmbed();" slot="start"></ion-input>
            <ion-label>
              Width (not shown)
            </ion-label>
            <ion-icon name='resize' slot="start"></ion-icon>
          </ion-item>

          <ion-item lines="none">
            Copy the code below and paste it into your website HTML
          </ion-item>
          <div class="codeBlock">
            <div class="code" [ngClass]="{ hasActionButton: hasCopyAPI }">
              {{ recipeEmbedCode }}
            </div>
            <ion-button fill="clear" *ngIf="hasCopyAPI" (click)="copyCodeToClipboard()">
              <ion-icon name="copy" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
          <textarea id="codeBlockCopy" type="text" class="invisible" [ngModel]="recipeEmbedCode"></textarea>
        </div>

        <div *ngSwitchCase="'account'">
          <div class="ion-padding">
            <ion-item>
              <ion-label position="floating">Recipient's account email...</ion-label>
              <ion-input
                [(ngModel)]="recipientEmail"
                (ngModelChange)='autofillUserName()'
                type="email"></ion-input>
            </ion-item>

            <p *ngIf="recipientEmail.length > 0 && !searchingForRecipient" class="ion-padding-left ion-padding-bottom">
              <span *ngIf="recipientName">RecipeSage user found: <b>{{ recipientName }}</b>. Press send to share recipe.</span>
              <span *ngIf="!recipientName">No RecipeSage user found with that email address.</span>
            </p>
            <p *ngIf="recipientEmail.length === 0 && !searchingForRecipient" class="ion-padding-left ion-padding-bottom">
              Enter another user's email address to search <span *ngIf="threads.length > 0">or select a conversation below</span>
            </p>
            <p *ngIf="searchingForRecipient" class="ion-padding-left ion-padding-bottom">
              Searcing for user...
            </p>
          </div>

          <ion-list *ngIf="threads.length > 0">
            <ion-radio-group [(ngModel)]="selectedThread" (ionChange)="selectRecipient($event.detail.value)">
              <ion-list-header style="margin-bottom: 0;" lines="none">
                Existing Conversations
              </ion-list-header>

              <ion-item *ngFor="let thread of threads">
                <ion-label>{{ thread.otherUser.name || thread.otherUser.email }} <span *ngIf="thread.otherUser.name">({{ thread.otherUser.email }})</span></ion-label>
                <ion-radio [value]="thread"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </div>
      </div>
  </ion-list>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button *ngIf="shareMethod === 'account'" expand="block" (click)="send()" [disabled]="!recipientId">
    <ion-icon name="send" slot="start"></ion-icon>
    <ion-label>
      Send
    </ion-label>
  </ion-button>

  <ion-button *ngIf="shareMethod === 'link' || shareMethod === 'embed'" expand="block" (click)="cancel()">
    <ion-icon name="close" slot="start"></ion-icon>
    <ion-label>
      Close
    </ion-label>
  </ion-button>
</ion-footer>
