<ion-header>

  <ion-toolbar>
    <ion-title>Share Recipe</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-list>
      <ion-item lines="none">
        <ion-avatar *ngIf="recipe.image" slot="start">
          <img src="{{ recipe.image.location }}">
        </ion-avatar>
        <ion-label>
          <h2>{{ recipe.title }}</h2>
          <p class="ion-text-wrap">
            When sharing, a copy of this recipe will be sent to the recipient. Your copy will not be affected.
          </p>
        </ion-label>
      </ion-item>

      <div>
        <ion-segment (ionChange)="shareMethodChanged($event)">
          <ion-segment-button value="account" checked>
            RecipeSage
          </ion-segment-button>
          <ion-segment-button value="link">
            Link
          </ion-segment-button>
          <ion-segment-button value="embed">
            Embed
          </ion-segment-button>
        </ion-segment>
      </div>

      <div [ngSwitch]="shareMethod">

        <div *ngSwitchCase="'link'">
          <br />
          <ion-item lines="none">
            Copy the link below <span *ngIf="hasWebShareAPI">or press the share icon</span>
          </ion-item>
          <div class="codeBlock">
            <div class="code" [ngClass]="{ hasActionButton: hasWebShareAPI }">
              {{ recipeURL }}
            </div>
            <button ion-button icon-only clear *ngIf="hasWebShareAPI" (click)="webShare()">
              <ion-icon name="share"></ion-icon>
            </button>
            <button ion-button icon-only clear *ngIf="!hasWebShareAPI && hasCopyAPI" (click)="copyCodeToClipboard()">
              <ion-icon name="copy"></ion-icon>
            </button>
          </div>
          <textarea id="codeBlockCopy" type="text" class="invisible" [ngModel]="recipeURL"></textarea>
        </div>

        <div *ngSwitchCase="'embed'">
          <br />
          <div class="preview-settings-container">

            <recipe-preview [url]="recipePreviewURL" [description]="'Embed Preview'"></recipe-preview>

            <ion-item>
              <ion-toggle [(ngModel)]="embedConfig.titleImage"
                (ngModelChange)="updateEmbed(true);"></ion-toggle>
              <ion-label>
                Show Title Image
              </ion-label>
              <ion-icon name='image' item-start></ion-icon>
            </ion-item>

            <ion-item>
              <ion-toggle [(ngModel)]="embedConfig.verticalInstrIng" (ngModelChange)="updateEmbed(true);"></ion-toggle>
              <ion-label>
                Disable Columns
              </ion-label>
              <ion-icon name='swap' item-start></ion-icon>
            </ion-item>

            <ion-item>
              <ion-toggle
                [(ngModel)]="embedConfig.showPrintButton"
                (ngModelChange)="updateEmbed(true);"></ion-toggle>
              <ion-label>
                Show Print Button
              </ion-label>
              <ion-icon name='print' item-start></ion-icon>
            </ion-item>

            <ion-item>
              <ion-toggle [(ngModel)]="embedConfig.hideSource"
                (ngModelChange)="embedConfig.hideSourceURL = embedConfig.hideSource; updateEmbed(true);"></ion-toggle>
              <ion-label>
                Hide Sources
              </ion-label>
              <ion-icon name='link' item-start></ion-icon>
            </ion-item>

            <ion-item>
              <ion-toggle [(ngModel)]="embedConfig.hideNotes"
                (ngModelChange)="updateEmbed(true);"></ion-toggle>
              <ion-label>
                Hide Notes
              </ion-label>
              <ion-icon name='paper' item-start></ion-icon>
            </ion-item>
          </div>

          <ion-item>
            <ion-input type="number" [(ngModel)]="embedHeight" (ngModelChange)="updateEmbed();"></ion-input>
            <ion-label>
              Height (not shown)
            </ion-label>
            <ion-icon name='resize' item-start></ion-icon>
          </ion-item>

          <ion-item>
            <ion-input type="number" [(ngModel)]="embedWidth" (ngModelChange)="updateEmbed();"></ion-input>
            <ion-label>
              Width (not shown)
            </ion-label>
            <ion-icon name='resize' item-start></ion-icon>
          </ion-item>

          <ion-item lines="none">
            Copy the code below and paste it into your website HTML
          </ion-item>
          <div class="codeBlock">
            <div class="code" [ngClass]="{ hasActionButton: hasCopyAPI }">
              {{ recipeEmbedCode }}
            </div>
            <button ion-button icon-only clear *ngIf="hasCopyAPI" (click)="copyCodeToClipboard()">
              <ion-icon name="copy"></ion-icon>
            </button>
          </div>
          <textarea id="codeBlockCopy" type="text" class="invisible" [ngModel]="recipeEmbedCode"></textarea>
        </div>

        <div *ngSwitchCase="'account'">
          <div class="ion-padding">
            <ion-item>
              <ion-label position="floating">Recipient's account email...</ion-label>
              <ion-input [(ngModel)]="recipientEmail" (ngModelChange)='autofillUserName()'></ion-input>
            </ion-item>

            <p *ngIf="recipientEmail.length > 0 && !searchingForRecipient" padding-left padding-bottom>
              <span *ngIf="recipientName">RecipeSage user found: <b>{{ recipientName }}</b>. Press send to share recipe.</span>
              <span *ngIf="!recipientName">No RecipeSage user found with that email address.</span>
            </p>
            <p *ngIf="recipientEmail.length === 0 && !searchingForRecipient" padding-left padding-bottom>
              Enter another user's email address to search <span *ngIf="threads.length > 0">or select a conversation below</span>
            </p>
            <p *ngIf="searchingForRecipient" padding-left padding-bottom>
              Searcing for user...
            </p>
          </div>

          <ion-list *ngIf="threads.length > 0" radio-group [(ngModel)]="selectedThread" (ngModelChange)="selectRecipient(selectedThread)">
            <ion-list-header style="margin-bottom: 0;" lines="none">
              Existing Conversations
            </ion-list-header>

            <ion-item *ngFor="let thread of threads">
              <ion-label>{{ thread.otherUser.name || thread.otherUser.email }} <span *ngIf="thread.otherUser.name">({{ thread.otherUser.email }})</span></ion-label>
              <ion-radio [value]="thread"></ion-radio>
            </ion-item>
          </ion-list>
        </div>
      </div>
  </ion-list>
</ion-content>

<ion-footer padding>
  <button *ngIf="shareMethod === 'account'" ion-button icon-left block (click)="send()" [disabled]="!recipientId">
    <ion-icon name="send"></ion-icon>
    Send
  </button>

  <button *ngIf="shareMethod === 'link' || shareMethod === 'embed'" ion-button icon-left block (click)="cancel()">
    <ion-icon name="close"></ion-icon>
    Close
  </button>
</ion-footer>
