extends layout

block content
  h1 RecipeSage API
  p Welcome to the RecipeSage API
  p Feel free to contact me if you'd like to discuss licensing for API usage
  a julian@recipesage.com
  p(style="position: absolute; bottom: 0") Version #{version}
