<ion-list no-border>
  <ion-list-header>
    Options
  </ion-list-header>

  <!--<ion-item lines="full" *ngIf="mealPlan.collaborators.length > 0">-->
    <!--<ion-toggle [(ngModel)]="preferences[preferenceKeys.ShowAddedBy]" (ngModelChange)="savePreferences()" slot="start"></ion-toggle>-->
    <!--<ion-label>-->
      <!--Show Added By-->
    <!--</ion-label>-->
  <!--</ion-item>-->

  <!--<ion-item lines="full">-->
    <!--<ion-toggle [(ngModel)]="preferences[preferenceKeys.ShowAddedOn]" (ngModelChange)="savePreferences()" slot="start"></ion-toggle>-->
    <!--<ion-label>-->
      <!--Show Added On-->
    <!--</ion-label>-->
  <!--</ion-item>-->

  <ion-item lines="full">
    <ion-label>Start week on</ion-label>
    <ion-select [(ngModel)]="preferences[preferenceKeys.StartOfWeek]" (ngModelChange)="savePreferences();">
      <ion-select-option value="sunday">Sunday</ion-select-option>
      <ion-select-option value="monday">Monday</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list-header>
    Actions
  </ion-list-header>

  <ion-button (click)="pinRecipes()" expand="block" size="small" class="ion-margin">
    <ion-icon name='pin' slot="start"></ion-icon>
    Pin recipes open
  </ion-button>

  <ion-button (click)="bulkAddToShoppingList()" expand="block" size="small" class="ion-margin">
    <ion-icon name='cart' slot="start"></ion-icon>
    Add selected to shopping list
  </ion-button>

  <ion-button (click)="copySelected()" expand="block" size="small" class="ion-margin">
    <ion-icon name='copy' slot="start"></ion-icon>
    Copy selected day(s)
  </ion-button>

  <ion-button (click)="moveSelected()" expand="block" size="small" class="ion-margin">
    <ion-icon name='cut' slot="start"></ion-icon>
    Move selected day(s)
  </ion-button>

  <ion-button (click)="deleteSelected()" color="danger" expand="block" size="small" class="ion-margin">
    <ion-icon name='trash' slot="start"></ion-icon>
    Delete selected day(s)
  </ion-button>

  <ion-list-header>
    Danger Zone
  </ion-list-header>

  <ion-button (click)="deleteMealPlan()" color="danger" expand="block" size="small" class="ion-margin">
    <ion-icon name='trash' slot="start"></ion-icon>
    Delete meal plan
  </ion-button>
</ion-list>
