<ion-list no-border>
  <ion-list-header>
    Options
  </ion-list-header>

  <ion-item *ngIf="mealPlan.collaborators.length > 0">
    <ion-toggle [(ngModel)]="preferences[preferenceKeys.ShowAddedBy]" (ngModelChange)="savePreferences()"></ion-toggle>
    <ion-label>
      Show Added By
    </ion-label>
    <ion-icon name='contact' slot="start"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-toggle [(ngModel)]="preferences[preferenceKeys.ShowAddedOn]" (ngModelChange)="savePreferences()"></ion-toggle>
    <ion-label>
      Show Added On
    </ion-label>
    <ion-icon name='calendar' slot="start"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-icon name='list' slot="start"></ion-icon>
    <ion-label>Start week on</ion-label>
    <ion-select [(ngModel)]="preferences[preferenceKeys.StartOfWeek]" (ngModelChange)="savePreferences();">
      <ion-select-option value="sunday">Sunday</ion-select-option>
      <ion-select-option value="monday">Monday</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon name='trash' slot="start"></ion-icon>
    <ion-button (click)="deleteMealPlan()" expand="full">Delete meal plan</ion-button>
  </ion-item>
</ion-list>
