<ion-header>
  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
    </ion-buttons>

    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />

  <ion-item lines="none" class="ion-text-wrap">
    <ion-label>
      <p>
        Here you can update and change aspects about your profile
      </p>
    </ion-label>
  </ion-item>

  <br />

  <ion-item lines="none">
    <ion-icon name="key" slot="start"></ion-icon>
    <ion-label>
      Pinned Recipes & Labels
    </ion-label>
  </ion-item>

  <ion-list>
    <div *ngFor="let item of profileItems">
      <ion-item *ngIf="item.type == 'link'" button>
        <ion-label>{{item.title}}</ion-label>
        <ion-badge slot="end">{{label.recipeCount}} Recipes</ion-badge>
      </ion-item>

      <ion-item *ngIf="item.type == 'link'" button>
        <ion-label>{{item.title}}</ion-label>
        <ion-badge slot="end">{{label.recipeCount}} Recipes</ion-badge>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
