.error {
  color: var(--ion-color-danger);
}

.setup-screen {
  margin-top: 60px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  .intro {
    margin-bottom: 40px;
    text-align: center;
  }
}

.profile-details-container {
  display: flex;

  .profile-details {
    padding-top: 20px;

    .username-preview, .handle-preview {
      cursor: pointer;

      ion-icon {
        color: var(--ion-color-primary);
        vertical-align: middle;
      }
    }

    .username-preview {
      margin-bottom: 0;
    }

    .handle-preview {
      margin-top: 0.5rem;
      margin-bottom: 2rem;
      font-size: 14px;
    }
  }
}
