<ion-header>
  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
    </ion-buttons>

    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />

  <h3>{{ accountProfile?.name }}</h3>

  <br />

  <ion-item lines="none">
    <ion-icon name="key" slot="start"></ion-icon>
    <ion-label>
      Pinned Recipes & Labels
    </ion-label>
  </ion-item>

  <ion-list>
    <div *ngFor="let item of accountProfile?.profileItems">
      <ion-item *ngIf="item.type == 'recipe'" button>
        <ion-label>{{item.title}}</ion-label>
        <!-- <ion-badge slot="end">{{label.recipeCount}} Recipes</ion-badge> -->
      </ion-item>

      <ion-item *ngIf="item.type == 'label'" button>
        <ion-label>{{item.title}}</ion-label>
        <!-- <ion-badge slot="end">{{label.recipeCount}} Recipes</ion-badge> -->
      </ion-item>
    </div>
  </ion-list>
</ion-content>
