@import "src/theme/shared-variables.scss";

// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

ion-searchbar {
  .searchbar-input-container {
    input.searchbar-input {
      font-size: 1rem;
    }
  }
}

ion-router-outlet.cookingToolbarOpen,
ion-menu.cookingToolbarOpen {
  height: calc(100% - 60px);
}

.ion-checkbox-label,
.ion-radio-label {
  line-height: 24px;
}

.ion-checkbox-label p,
.ion-radio-label p {
  color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.8);
  font-size: 0.875rem;
  margin: 0;
  line-height: 20px;
}

.bar-button-default-md:hover:not(.disable-hover),
.bar-button-clear-md-default:hover:not(.disable-hover),
.bar-button-md-default:hover:not(.disable-hover) {
  color: lightgrey;
}

.big-icon {
  font-size: 40px;
}

.medium-icon {
  font-size: 2em;
}

.eye-icon {
  vertical-align: middle;
}

ion-popover,
.alert-wrapper {
  --width: 280px;
  --max-width: 280px;
}

ion-thumbnail {
  width: 80px;
  height: 80px;

  img {
    object-fit: cover;
  }
}

@media only screen and (min-width: $desktop-breakpoint) {
  ion-thumbnail {
    width: 200px;
    height: 200px;
  }

  .popover-content,
  .alert-wrapper {
    --width: 350px;
    --max-width: 350px;
  }
}

.alertDanger {
  color: var(--ion-color-danger) !important;
}

#loading-bar-spinner {
  display: none !important;
}

.alert-message {
  overflow: auto;
}

.modal-wrapper .scroll-content {
  overflow-y: auto;
}

.sidemenu-icon {
  vertical-align: middle;
}

.sidemenu-item-text {
  vertical-align: middle;
}

.dropdownSelect {
  .labels {
    margin-bottom: 5px;

    .label {
      display: inline-flex;
      align-items: center;

      margin-top: 2px;
      margin-right: 7px;
      padding: 8px;
      white-space: nowrap; // Prevent trash can and label from splitting

      button {
        display: inline-flex;
        align-items: center;

        margin-right: 4px;
        background: transparent;
        padding: 0px;
        color: inherit;
        border: none;
      }
    }

    html[mode="ios"] & .label {
      background: rgba(0, 0, 0, 0.12);
      border-radius: 10px;
    }
    html:not([mode="ios"]) & .label {
      box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
      border-radius: 2px;
    }
  }

  input {
    border: none;
    border-bottom: 1px solid var(--ion-border-color);
    background-color: transparent;
    padding: 10px;
    outline: none;

    width: 100%;
    max-width: 600px;
  }

  .autocomplete {
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    max-width: 600px;
    max-height: 200px;
    overflow-y: auto;

    button.suggestion {
      display: block;
      padding: 0;
      background-color: inherit;
      width: 100%;
      text-align: left;
    }
  }
}

// For floating input placeholders
ion-label[position="floating"] {
  color: #999 !important;
}

// Fix floating label vertical position issue.
// This prop is overriden when label is in the floating state
.label-floating.sc-ion-label-md-h {
  transform: translate3d(0, 122%, 0);
}

.invisible {
  position: absolute;
  left: -1000px;
  top: -1000px;
  background: transparent;
  color: transparent;
  border: none;
}

.cursor-pointer {
  cursor: pointer;
}

ion-toast {
  --background: var(--ion-color-dark-tint);
  --color: var(--ion-color-light);
  /* Override button color, must be done this way because they don't otherwise allow you to... */
  --ion-color-step-100: var(--ion-color-light);
}

ion-button.button-outline {
  --border-width: 1px;
}

.split-pane-visible > .split-pane-side {
  max-width: 300px;
}

.sc-ion-label-ios-s > p,
.sc-ion-label-md-s > p {
  color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.8);
}

.rs-date {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.language-select-alert .select-interface-option {
  text-transform: capitalize;
}

/* Must be added globally, since iframe is loaded outside of the context of Angular CSS encapsulation */
.gsi-container iframe {
  /* Center the "continue as XYZ" button */
  margin-left: auto !important;
  margin-right: auto !important;
  color-scheme: light;
}
