<ion-header>

  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ recipe.id ? 'Edit Recipe' : 'New Recipe' }}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <multi-image-upload [images]="images" (onImageAdded)="markAsDirty();"></multi-image-upload>

  <div class="ion-padding">
    <ion-button *ngIf="!recipe.id" (click)="clipFromUrl()" size="small">
      <ion-icon name="clipboard" slot="start"></ion-icon>
      Autofill fields from URL (beta)
    </ion-button>
    <br />
    <br />
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input
        [(ngModel)]="recipe.title"
        (ngModelChange)="markAsDirty()"
        type="text"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea
        [(ngModel)]="recipe.description"
        (ngModelChange)="markAsDirty()"
        auto-grow="true"
        type="text"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Yield</ion-label>
      <ion-input
        [(ngModel)]="recipe.yield"
        (ngModelChange)="markAsDirty()"
        type="text"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Active Time</ion-label>
      <ion-input
        [(ngModel)]="recipe.activeTime"
        (ngModelChange)="markAsDirty()"
        type="text"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Total Time</ion-label>
      <ion-input
        [(ngModel)]="recipe.totalTime"
        (ngModelChange)="markAsDirty()"
        type="text"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Source</ion-label>
      <ion-input
        [(ngModel)]="recipe.source"
        (ngModelChange)="markAsDirty()"
        type="text"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Source URL</ion-label>
      <ion-input
        [(ngModel)]="recipe.url"
        (ngModelChange)="markAsDirty()"
        type="url"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Ingredients</ion-label>
      <ion-textarea
        [(ngModel)]="recipe.ingredients"
        (ngModelChange)="markAsDirty()"
        auto-grow="true"
        type="text"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Instructions</ion-label>
      <ion-textarea
        [(ngModel)]="recipe.instructions"
        (ngModelChange)="markAsDirty()"
        auto-grow="true"
        type="text"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Notes</ion-label>
      <ion-textarea
        [(ngModel)]="recipe.notes"
        (ngModelChange)="markAsDirty()"
        auto-grow="true"
        type="text"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-textarea>
    </ion-item>

    <br />

    <ion-item *ngIf="!recipe.id" class="ion-text-wrap">
      <p>You'll be able to add categories/labels after the recipe is created.</p>
    </ion-item>
    <div class="ion-padding">
      <ion-button expand="block" (click)="save()">{{ recipe.id ? "Save" : "Create" }}</ion-button>
    </div>
  </div>
</ion-content>
