<ion-header>

  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ recipe.id ? 'Edit Recipe' : 'New Recipe' }}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <input id="filePicker" [multiple]="capabilitiesService.capabilities.multipleImages" type="file" (change)="markAsDirty(); addImage($event)" style="display: none;" accept="image/*" />

  <div class="image-carousel">
    <div class="recipe-image" *ngFor="let image of images; let i = index">
      <div class="image-frame">
        <ion-icon name="remove-circle" class="remove-image" (click)="removeImage(image)" color="danger"></ion-icon>
        <img src="{{ image.location }}" />
      </div>
      <div class="image-subtext" *ngIf="images.length > 1">
        <ion-icon name="caret-back" [ngClass]="{ 'hide-reorder': i == 0 }" (click)="reorderImage(image, -1)"></ion-icon>
        <span>
          {{ i + 1 }}
        </span>
        <ion-icon name="caret-forward" [ngClass]="{ 'hide-reorder': i >= (images.length - 1) }" (click)="reorderImage(image, 1)"></ion-icon>
      </div>
    </div>

    <div class="recipe-image" (click)="filePicker()" *ngIf="images.length < 10 && (images.length === 0 || capabilitiesService.capabilities.multipleImages)">
      <div class="image-frame">
        <span>
          +
          <br />
          Click to Add Image
        </span>
      </div>
    </div>
  </div>

  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input
        [(ngModel)]="recipe.title"
        (ngModelChange)="markAsDirty()"
        type="text"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea
        [(ngModel)]="recipe.description"
        (ionInput)="updateTextAreaSize($event)"
        (ngModelChange)="markAsDirty()"
        type="text"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Yield</ion-label>
      <ion-input
        [(ngModel)]="recipe.yield"
        (ngModelChange)="markAsDirty()"
        type="text"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Active Time</ion-label>
      <ion-input
        [(ngModel)]="recipe.activeTime"
        (ngModelChange)="markAsDirty()"
        type="text"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Total Time</ion-label>
      <ion-input
        [(ngModel)]="recipe.totalTime"
        (ngModelChange)="markAsDirty()"
        type="text"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Source</ion-label>
      <ion-input
        [(ngModel)]="recipe.source"
        (ngModelChange)="markAsDirty()"
        type="text"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Source URL</ion-label>
      <ion-input
        [(ngModel)]="recipe.url"
        (ngModelChange)="markAsDirty()"
        type="url"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ingredients</ion-label>
      <ion-textarea
        [(ngModel)]="recipe.ingredients"
        (ionInput)="updateTextAreaSize($event)"
        (ngModelChange)="markAsDirty()"
        type="text"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Instructions</ion-label>
      <ion-textarea
        [(ngModel)]="recipe.instructions"
        (ionInput)="updateTextAreaSize($event)"
        (ngModelChange)="markAsDirty()"
        type="text"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea
        [(ngModel)]="recipe.notes"
        (ionInput)="updateTextAreaSize($event)"
        (ngModelChange)="markAsDirty()"
        type="text"
        value=""
        autocapitalize="on"
        autocorrect="on"
        spellcheck="true"></ion-textarea>
    </ion-item>

    <br />

    <ion-item *ngIf="!recipe.id" class="ion-text-wrap">
      <p>You'll be able to add categories/labels after the recipe is created.</p>
    </ion-item>
    <div class="ion-padding">
      <ion-button expand="block" (click)="save()">{{ recipe.id ? "Save" : "Create" }}</ion-button>
    </div>
  </div>
</ion-content>
