page-print-recipe {
  font-family: 'Noto+Serif', serif;

  .print-button {
    position: absolute;
    right: 10px;
    top: 10px;
    color: black;
    z-index: 1;
    font-size: 20px;
  }

  .halfsheet {
    max-width: 50%;
  }

  .loading {
    visibility: hidden;
  }

  * {
    color: black !important;
    font-size: 12px;
  }

  .sans {
    font-family: 'Noto+Sans', sans-serif;
  }

  .pre {
    white-space: pre-wrap;
  }

  h2.recipeTitle {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0 !important;
    font-weight: bold;
  }

  .ingredientsInstructionsGrid {
    .ingredientsCol {
      max-width: 215px;
    }

    .instructionsCol[col-sm-auto] {
      flex: 0 0;
      flex-grow: 1;
      width: auto;
    }

    ion-col {
      margin-bottom: 10px;
    }
  }

  .verticalInstrIng .ingredientsInstructionsGrid {
    .ingredientsCol {
      max-width: initial;
      margin-left: 40px;
    }
  }

  .ingredients {
    ion-label {
      margin: 0;
    }

    ion-label {
      margin-top: 0;
    }

    h2 {
      margin-bottom: 10px;
    }

    .ingredient {
      .sectionHeader {
        display: block;
        margin: 5px 0;
      }

      &:first-child {
        .sectionHeader {
          margin-top: 0;
        }
      }
    }
  }

  .instructions {
    ion-label {
      margin-top: 0;
      margin-bottom: 0;
    }

    h2 {
      margin-bottom: 10px;
    }

    .instruction {
      margin-bottom: 8px;
    }
  }

  .meta {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0;
  }
}
