page-print-recipe {
  font-family: 'Noto+Serif', serif;

  .sans {
    font-family: 'Noto+Sans', sans-serif;
  }

  .pre {
    white-space: pre-wrap;
  }

  h2.recipeTitle {
    margin-top: 0 !important;
  }

  .ingredientsInstructionsGrid {
    padding-left: 0;

    @media (min-width: 576px) {
      .ingredientsCol {
        max-width: 215px;
      }

      .instructionsCol[col-sm-auto] {
        flex: 0 0;
        flex-grow: 1;
        max-width: 700px;
        width: auto;
      }
    }

    ion-col {
      margin-bottom: 10px;
    }
  }

  .ingredients {
    ion-label {
      margin: 0;
    }

    .scale {
      cursor: pointer;
    }

    ion-label {
      margin-top: 0;
    }

    h2 {
      margin-bottom: 10px;
    }

    .ingredient {
      color: #3f3f3f;

      .sectionHeader {
        display: block;
        margin: 4px 0;
      }

      &:first-child {
        .sectionHeader {
          margin-top: 0;
        }
      }

      &.complete {
        text-decoration: line-through;
        opacity: 0.7;
      }

      &.ingredientContent {
        cursor: pointer;
      }
    }
  }

  .instructions {
    ion-label {
      margin-top: 0;
    }

    h2 {
      margin-bottom: 10px;
    }

    .instruction {
      margin-bottom: 15px;
      color: #3f3f3f;

      .instructionContent {
        cursor: pointer;
      }

      span.complete .instructionContent {
        text-decoration: line-through;
        opacity: 0.7;
      }
    }
  }

  .meta {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
