<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ imgTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false" color="dark" fullscreen="true">
  <ion-icon *ngIf="slideNum > 0" (click)="slider.slidePrev()" name="arrow-back" class="back"></ion-icon>
  <ion-slides #slider (ionSlideDidChange)="slideDidChange()" pager="true">
    <ion-slide *ngFor="let imageUrl of imageUrls">
      <div><img [src]="imageUrl" /></div>
    </ion-slide>
  </ion-slides>
  <ion-icon *ngIf="slideNum < imageUrls.length - 1" (click)="slider.slideNext()" name="arrow-forward" class="forward"></ion-icon>
</ion-content>
