<div>
  <button
    class="selectedRecipe"
    (click)="selectedRecipe = null"
    *ngIf="selectedRecipe">
    <ion-item>
      <ion-avatar *ngIf="selectedRecipe.image" item-start>
        <img src="{{ selectedRecipe.image.location }}">
      </ion-avatar>
      <h2>{{ selectedRecipe.title }}</h2>
      <p>Click to change</p>
    </ion-item>
  </button>

  <div class="dropdownSelect" *ngIf="!selectedRecipe">
    <input
      [(ngModel)]='searchText'
      (ngModelChange)="onSearchInputChange()"
      placeholder="Type to search for recipe..."
      #labelInputField
      id="labelInputField" />
    <div
      class="autocomplete">
      <button
        class="suggestion"
        *ngFor="let recipe of recipes"
        (click)="selectRecipe(recipe)">
        <ion-item no-lines>
          <ion-avatar *ngIf="recipe.image" item-start>
            <img src="{{ recipe.image.location }}">
          </ion-avatar>
          <h2>{{ recipe.title }}</h2>
          <p>Click to select</p>
        </ion-item>
      </button>
      <!-- Searching for user for which a thread does not exist -->
      <button
        class="suggestion"
        *ngIf="searching">
        <ion-item no-lines>
          {{ searchText }}
          <span class="hint">Searching...</span>
        </ion-item>
      </button>
      <!-- Searching for user for which a thread does not exist -->
      <button
        class="suggestion"
        *ngIf="recipes.length === 0 && searchText.length > 0 && !searching">
        <ion-item no-lines>
          {{ searchText }}
          <span class="hint">No recipes found</span>
        </ion-item>
      </button>

      <button
        class="suggestion"
        *ngIf="recipes.length === 0 && searchText.length === 0">
        You have no recipes
        <span class="hint"></span>
      </button>
    </div>
  </div>
</div>
