<ion-item lines="none" href="https://facebook.com/recipesageofficial" target="_blank">
  <ion-icon slot="start" name="logo-facebook"></ion-icon>
  <ion-label>
    <p><a target="_blank" href="https://facebook.com/recipesageofficial">Facebook</a></p>
  </ion-label>
</ion-item>
<ion-item lines="none" href="https://twitter.com/recipesageo" target="_blank">
  <ion-icon slot="start" name="logo-twitter"></ion-icon>
  <ion-label>
    <p><a target="_blank" href="https://twitter.com/recipesageo">Twitter</a></p>
  </ion-label>
</ion-item>
<ion-item lines="none" href="https://instagram.com/recipesageofficial" target="_blank">
  <ion-icon slot="start" name="logo-instagram"></ion-icon>
  <ion-label>
    <p><a target="_blank" href="https://instagram.com/recipesageofficial">Instagram</a></p>
  </ion-label>
</ion-item>
<ion-item lines="none" href="https://discord.gg/yCfzBft" target="_blank">
  <ion-icon slot="start" name="chatbox-ellipses"></ion-icon>
  <ion-label>
    <p><a target="_blank" href="https://discord.gg/yCfzBft">Discord</a></p>
  </ion-label>
</ion-item>
