<ion-header>
  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
    </ion-buttons>

    <ion-title>Account & Credentials</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />

  <ion-item lines="none" class="ion-text-wrap">
    <ion-label>
      <p>
        Here you can update and change aspects about your account
      </p>
    </ion-label>
  </ion-item>

  <br />

  <ion-item lines="none">
    <ion-icon name="key" slot="start"></ion-icon>
    <ion-label>
      Credentials and Details
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Name/Nickname</ion-label>
    <ion-input
      autocomplete="off"
      autofill="off"
      type="text"
      [(ngModel)]="account.name"
      (ionFocus)="nameChanged = true"
      (ngModelChange)="nameChanged = true"></ion-input>
    <ion-button *ngIf="nameChanged" (click)="saveName()" slot="end" class="ion-align-self-center">
      Save Name
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input
      autocomplete="off"
      autofill="off"
      type="email"
      [(ngModel)]="account.email"
      (ionFocus)="emailChanged = true"
      (ngModelChange)="emailChanged = true"></ion-input>
    <ion-button *ngIf="emailChanged" (click)="saveEmail()" slot="end" class="ion-align-self-center">
      Save Email
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input
      autocomplete="new-password"
      autofill="off"
      type="password"
      [(ngModel)]="account.password"
      (ionFocus)="account.password = ''; passwordChanged = true;"
      (ngModelChange)="passwordChanged = true;"></ion-input>
  </ion-item>

  <ion-item *ngIf="passwordChanged">
    <ion-label position="stacked">Confirm Password</ion-label>
    <ion-input
      autocomplete="new-password"
      autofill="off"
      type="password"
      [(ngModel)]="account.confirmPassword"></ion-input>
    <ion-button (click)="savePassword()" slot="end" class="ion-align-self-center">
      Save Password
    </ion-button>
  </ion-item>

  <br />

  <ion-item lines="none" class="ion-text-wrap">
    <ion-label>
      <p>
        To change a field above, tap the field, edit it, and press the save button that appears.
      </p>
    </ion-label>
  </ion-item>

  <br /><br />

  <ion-item lines="none">
    <ion-icon name="stats-chart" slot="start"></ion-icon>
    <ion-label>
      Stats
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="ion-text-wrap">
    <ion-label>
      <h2>Recipe Count</h2>
      <p>{{stats.recipeCount}}</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="ion-text-wrap">
    <ion-label>
      <h2>Recipe Image Count</h2>
      <p>{{stats.recipeImageCount}}</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="ion-text-wrap">
    <ion-label>
      <h2>Total Message Count</h2>
      <p>{{stats.messageCount}}</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="ion-text-wrap">
    <ion-label>
      <h2>Account Created</h2>
      <p>{{stats.createdAt}}</p>
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="ion-text-wrap">
    <ion-label>
      <h2>Last Login</h2>
      <p>{{stats.lastLogin}}</p>
    </ion-label>
  </ion-item>

  <br /><br />

  <ion-item lines="none">
    <ion-icon name="heart" slot="start"></ion-icon>
    <ion-label>
      Bonus Feature Status
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="ion-text-wrap">
    <ion-label>
      <p>
        <a [routerLink]="contributePath">Contributors</a> unlock certain features that are costly to host:
      </p>
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="ion-text-wrap">
    <ion-label>
      <h2>High Resolution Images</h2>
      <p>{{capabilitySubscriptions['highResImages']?.enabled ? 'Enabled' : 'Not enabled'}}</p>
      <p *ngIf="capabilitySubscriptions['highResImages'] && capabilitySubscriptions['highResImages'].expires !== -1">
        {{capabilitySubscriptions['highResImages'].expires ? capabilitySubscriptions['highResImages'].expires : 'Never Expires'}}
        <span *ngIf="capabilitySubscriptions['highResImages'].expires && capabilitySubscriptions['multipleImages'].enabled">(this will update automatically if subscribed monthly)</span>
      </p>
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="ion-text-wrap">
    <ion-label>
      <h2>Multiple Images Per Recipe</h2>
      <p>{{capabilitySubscriptions['multipleImages']?.enabled ? 'Enabled' : 'Not enabled'}}</p>
      <p *ngIf="capabilitySubscriptions['multipleImages'] && capabilitySubscriptions['multipleImages'].expires !== -1">
        {{capabilitySubscriptions['multipleImages'].expires ? capabilitySubscriptions['multipleImages'].expires : 'Never Expires'}}
        <span *ngIf="capabilitySubscriptions['multipleImages'].expires && capabilitySubscriptions['multipleImages'].enabled">(this will update automatically if subscribed monthly)</span>
      </p>
    </ion-label>
  </ion-item>

  <br /><br />

  <ion-item lines="none">
    <ion-icon name="warning" color="danger" slot="start"></ion-icon>
    <ion-label>
      Danger Zone!
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="ion-text-wrap">
    <ion-label>
      <p>
        Be careful with these actions - they are permenant.<br />
        You will be asked a to confirm any action you take here.
      </p>
    </ion-label>
  </ion-item>

  <ion-button color="danger" (click)="deleteAllRecipes()" class="ion-margin">
    Delete All Recipes
  </ion-button>
</ion-content>
