<ion-header>
  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Account & Credentials</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />

  <ion-item lines="none" class="ion-text-wrap">
    <p>
      Here you can update and change aspects about your account
    </p>
  </ion-item>

  <br />

  <ion-item lines="none">
    <ion-icon name="key" item-start></ion-icon>
    Credentials and Details
  </ion-item>

  <ion-item>
    <ion-label stacked>Name/Nickname</ion-label>
    <ion-input
      autocomplete="off"
      autofill="off"
      type="text"
      [(ngModel)]="account.name"
      (ionFocus)="nameChanged = true"
      (ngModelChange)="nameChanged = true"></ion-input>
    <button *ngIf="nameChanged" (click)="saveName()" ion-button item-right>
      Save Name
    </button>
  </ion-item>

  <ion-item>
    <ion-label stacked>Email</ion-label>
    <ion-input
      autocomplete="off"
      autofill="off"
      type="text"
      [(ngModel)]="account.email"
      (ionFocus)="emailChanged = true"
      (ngModelChange)="emailChanged = true"></ion-input>
    <button *ngIf="emailChanged" (click)="saveEmail()" ion-button item-right>
      Save Email
    </button>
  </ion-item>

  <ion-item>
    <ion-label stacked>Password</ion-label>
    <ion-input
      autocomplete="new-password"
      autofill="off"
      type="password"
      [(ngModel)]="account.password"
      (ionFocus)="account.password = ''; passwordChanged = true;"
      (ngModelChange)="passwordChanged = true;"></ion-input>
  </ion-item>

  <ion-item *ngIf="passwordChanged">
    <ion-label stacked>Confirm Password</ion-label>
    <ion-input
      autocomplete="new-password"
      autofill="off"
      type="password"
      [(ngModel)]="account.confirmPassword"></ion-input>
    <ion-button (click)="savePassword()" slot="end">
      Save Password
    </ion-button>
  </ion-item>

  <br />

  <ion-item lines="none" class="ion-text-wrap">
    <p>
      To change a field above, tap the field, edit it, and press the save button that appears.
    </p>
  </ion-item>

  <br /><br /><br /><br />

  <ion-item lines="none">
    <ion-icon name="warning" color="danger" item-start></ion-icon>
    Danger Zone!
  </ion-item>

  <ion-item lines="none" class="ion-text-wrap">
    <p>
      Be careful with these actions - they are permenant.<br />
      You will be asked a to confirm any action you take here.
    </p>
  </ion-item>

  <button margin ion-button color="danger" (click)="deleteAllRecipes()" item-right>
    Delete All Recipes
  </button>
</ion-content>
