// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover) {
  color: lightgrey;
}

.big-icon {
  font-size: 40px;
}

ion-thumbnail img {
  object-fit: cover;
}

.platform-core ion-thumbnail {
  width: 200px;
  height: 200px;

  img {
    width: 200px;
    height: 200px;
  }
}

.alertDanger {
  color: map-get($colors, danger) !important;
}

#loading-bar-spinner {
  display: none !important;
}

.alert-message {
  overflow: auto;
}

.modal-wrapper .scroll-content {
  overflow-y: auto;
}

.sidemenu-icon {
  vertical-align: middle;
}

.sidemenu-item-text {
  vertical-align: middle;
}

.dropdownSelect {
  padding-left: 16px;
  padding-right: 16px;

  .labels {
    margin-bottom: 5px;

    .label {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      border-radius: 2px;
      margin-right: 7px;
      padding: 8px;
      line-height: 37px;

      ion-icon {
        margin-right: 4px;
        vertical-align: middle;
      }
    }
  }

  input {
    border: none;
    border-bottom: 1px solid lightgrey;
    padding: 7px;

    width: 100%;
    max-width: 600px;
  }

  .autocomplete {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    max-width: 600px;
    max-height: 100px;
    overflow-y: auto;

    button.suggestion {
      display: block;
      padding: 0;
      background-color: white;
      width: 100%;
      text-align: left;

      ion-item {
        cursor: pointer;

        &:hover {
          background-color: #00a8ff;
        }

        &:focus {
          background-color: #00a8ff;
        }

        h2 {
          margin-top: 0;
        }

        .hint {
          float: right;
        }
      }
    }
  }
}
