<ngx-loading-bar includeSpinner="false"></ngx-loading-bar>

<ion-app>
  <ion-split-pane disabled="true">
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar color="nav">
          <ion-title>Recipe Sage</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of navList">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngIf="isLoggedIn && readyForPrompt()" (click)="showInstallPrompt()" button>
              <ion-icon slot="start" name="cloud-download"></ion-icon>
              <ion-label>
                Download & Install
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngIf="isLoggedIn" (click)="logout()" button>
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Log Out
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

      <ion-footer>
        <ion-toolbar>

          <p class="ion-padding-start">
            v{{ version }}<br />
            <ion-menu-toggle auto-hide="false">
              <a [routerLink]="[aboutDetailsHref]">Julian Poyourow</a>
            </ion-menu-toggle>
          </p>

          <p class="social-footer">
            <a href="https://facebook.com/recipesageofficial" target="_blank">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
            <a href="https://instagram.com/recipesageofficial" target="_blank">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <a href="https://twitter.com/recipesageo" target="_blank">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
            <a href="https://reddit.com/r/recipesage" target="_blank">
              <ion-icon name="logo-reddit"></ion-icon>
            </a>
          </p>

        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
