// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@mixin blackModeVars() {
  --ion-border-color: var(--ion-color-dark-shade);
  --ion-background-color: #000000;
  --ion-background-color-rgb: rgb(0, 0, 0);
  --ion-background-shade-color: var(--ion-color-dark-shade);
  --ion-background-tint-color: var(--ion-color-dark-tint);
  --ion-background-tint-active-color: var(--ion-color-dark-tint-active);
  --ion-text-color: var(--ion-color-light);
  --ion-text-color-rgb: var(--ion-color-light-rgb);

  --ion-item-background: #000000;
  --ion-toolbar-background: #000000;
  --ion-tab-bar-background: #000000;
  --ion-card-background: #000000;
  --ion-card-background-hover: #101010;

  --ion-color-step-50: #232323;
  --ion-color-step-100: #2e2e2e;
  --ion-color-step-150: #3a3a3a;
  --ion-color-step-200: #454545;
  --ion-color-step-250: #515151;
  --ion-color-step-300: #5d5d5d;
  --ion-color-step-350: #8b8b8b;
  --ion-color-step-400: #c2c2c2;
  --ion-color-step-450: #c6c6c6;
  --ion-color-step-500: #cacaca;
  --ion-color-step-550: #cecece;
  --ion-color-step-600: #d2d2d2;
  --ion-color-step-650: #d6d6d6;
  --ion-color-step-700: #dadada;
  --ion-color-step-750: #dedede;
  --ion-color-step-800: #e2e2e2;
  --ion-color-step-850: #e6e6e6;
  --ion-color-step-900: #eaeaea;
  --ion-color-step-950: #f4f4f4;

  .alert-wrapper,
  .popover-viewport,
  ion-card {
    border: 1px solid var(--ion-border-color);
  }
}

@mixin darkModeVars() {
  --ion-border-color: #2c2c2c;
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;
  --ion-background-shade-color: #101010;
  --ion-background-tint-color: #2a2a2a;
  --ion-background-tint-active-color: #3a3a3a;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-item-background: #121212;
  --ion-toolbar-background: #1f1f1f;
  --ion-tab-bar-background: #1f1f1f;
  --ion-card-background: #171717;
  --ion-card-background-hover: #1a1a1a;
  // --ion-card-background: #1e1e1e;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  ion-searchbar {
    --background: var(--ion-card-background);
  }
}

@mixin midnightModeVars() {
  --ion-border-color: var(--ion-color-dark-shade);
  --ion-background-color: var(--ion-color-dark);
  --ion-background-color-rgb: var(--ion-color-dark-rgb);
  --ion-background-shade-color: var(--ion-color-dark-shade);
  --ion-background-tint-color: var(--ion-color-dark-tint);
  --ion-background-tint-active-color: var(--ion-color-dark-tint-active);
  --ion-text-color: var(--ion-color-light);
  --ion-text-color-rgb: var(--ion-color-light-rgb);

  --ion-card-background: #222428;
  --ion-card-background-hover: #282a2f;

  --ion-color-step-50: #232323;
  --ion-color-step-100: #2e2e2e;
  --ion-color-step-150: #3a3a3a;
  --ion-color-step-200: #454545;
  --ion-color-step-250: #515151;
  --ion-color-step-300: #5d5d5d;
  --ion-color-step-350: #8b8b8b;
  --ion-color-step-400: #c2c2c2;
  --ion-color-step-450: #c6c6c6;
  --ion-color-step-500: #cacaca;
  --ion-color-step-550: #cecece;
  --ion-color-step-600: #d2d2d2;
  --ion-color-step-650: #d6d6d6;
  --ion-color-step-700: #dadada;
  --ion-color-step-750: #dedede;
  --ion-color-step-800: #e2e2e2;
  --ion-color-step-850: #e6e6e6;
  --ion-color-step-900: #eaeaea;
  --ion-color-step-950: #f4f4f4;
}

@mixin lightModeVars() {
  --ion-border-color: rgba(0, 0, 0, 0.13);
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: rgb(255, 255, 255);
  --ion-background-shade-color: var(--ion-color-light-shade);
  --ion-background-tint-color: var(--ion-color-light-tint);
  --ion-background-tint-active-color: var(--ion-color-light-tint-active);
  --ion-text-color: var(--ion-color-dark);
  --ion-text-color-rgb: var(--ion-color-dark-rgb);

  --ion-card-background: #ffffff;
  --ion-card-background-hover: #f6f6f6;

  // Generated from this: https://ionicframework.com/docs/theming/themes
  --ion-color-step-50: #f4f4f4;
  --ion-color-step-100: #e9e9ea;
  --ion-color-step-150: #dededf;
  --ion-color-step-200: #d3d3d4;
  --ion-color-step-250: #c8c8c9;
  --ion-color-step-300: #bdbdbf;
  --ion-color-step-350: #b2b2b4;
  --ion-color-step-400: #a7a7a9;
  --ion-color-step-450: #9c9c9e;
  --ion-color-step-500: #919294;
  --ion-color-step-550: #858789;
  --ion-color-step-600: #7a7c7e;
  --ion-color-step-650: #6f7173;
  --ion-color-step-700: #646669;
  --ion-color-step-750: #595b5e;
  --ion-color-step-800: #4e5053;
  --ion-color-step-850: #434548;
  --ion-color-step-900: #383a3d;
  --ion-color-step-950: #2d2f33;
}

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #00a8ff;
  --ion-color-primary-rgb: 0, 168, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #00a8ff;
  --ion-color-primary-tint: #00a8ff;

  /** secondary **/
  --ion-color-secondary: rgb(12, 209, 232);
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: rgb(11, 184, 204);
  --ion-color-secondary-tint: rgb(36, 214, 234);

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  --ion-color-dark-tint-active: #44464a;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  --ion-color-light-tint: #f6f6f6;
  --ion-color-light-tint-active: #ffffff;

  --ion-color-nav: #353b48;
  --ion-color-nav-rgb: 53, 59, 72;
  --ion-color-nav-contrast: #ffffff;
  --ion-color-nav-contrast-rgb: 255, 255, 255;
  --ion-color-nav-shade: #353b48;
  --ion-color-nav-tint: #353b48;

  $colors: (
    // primary:    #488aff, // Original Ionic primary
    primary: #00a8ff,
    // secondary:  #32db64,
    danger: #f53d3d,
    // light:      #f4f4f4,
    // brightBlue: #00a8ff,
    // nightBlue:  #353b48,
    // dark:       #222,
    navBar: #353b48
  );

  --content-max-width: 700px;

  // Default theme is light
  .theme-default {
    @include lightModeVars;
  }

  // Override default theme if system dark mode is enabled
  @media (prefers-color-scheme: dark) {
    .theme-default {
      @include darkModeVars;
    }
  }

  .theme-black {
    @include blackModeVars;
  }

  .theme-midnight {
    @include midnightModeVars;
  }

  .theme-dark {
    @include darkModeVars;
  }

  .theme-light {
    @include lightModeVars;
  }
}

.ion-color-nav {
  --ion-color-base: var(--ion-color-nav) !important;
  --ion-color-base-rgb: var(--ion-color-nav-rgb) !important;
  --ion-color-contrast: var(--ion-color-nav-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-nav-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-nav-shade) !important;
  --ion-color-tint: var(--ion-color-nav-tint) !important;
}

html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
