ion-content {
  swiper-container {
    height: 100%;
  }

  ion-icon {
    cursor: pointer;
    z-index: 2; // ion-slides is using z-index :( need this to raise above
    font-size: 50px;
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 40px;
    transform: translateY(-50%);
  }

  .back {
    left: 5px;
  }

  .forward {
    right: 5px;
  }
}

.image-container {
  height: 100%;

  img {
    height: 100%;
    object-fit: contain;
  }
}
