<div>
  <div *ngIf="scaledIngredients && scaledIngredients.length > 0">
    <p>
      Select the ingredients you'd like to add:
    </p>

    <ion-item>
      <ion-label>Select/Deselect All</ion-label>
      <ion-checkbox [(ngModel)]="allSelected" (ngModelChange)="resetAll()" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let ingredient of scaledIngredients; let i = index;">
      <ion-label>{{ ingredient.content }}</ion-label>
      <ion-checkbox [(ngModel)]="ingredientBinders[i]" (ngModelChange)="toggleIngredient(i)" checked="true"></ion-checkbox>
    </ion-item>
    <br /><br />
    <a class="scale" (click)="changeScale()">{{ scale }}x scale (click to change)</a>
  </div>
  <div *ngIf="!scaledIngredients || scaledIngredients.length === 0">
    <p>
      <b>This recipe has no ingredients.</b>
    </p>
  </div>
</div>
