<ion-header>

  <ion-toolbar>
    <ion-title>Share {{profile?.name}}'s Profile</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
  <div>
    <br />
    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <p>
          Copy the link below<span *ngIf="!hasWebShareAPI">&nbsp;or press the share icon</span>&nbsp;to share
        </p>
      </ion-label>
    </ion-item>
    <div class="codeBlock">
      <div class="code" [ngClass]="{ hasActionButton: hasWebShareAPI }">
        {{ profileUrl }}
      </div>
      <ion-button fill="clear" *ngIf="hasWebShareAPI" (click)="webShare()">
        <ion-icon name="share" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" *ngIf="!hasWebShareAPI && hasCopyAPI" (click)="copyCodeToClipboard()">
        <ion-icon name="copy" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
    <textarea id="codeBlockCopy" type="text" class="invisible" [ngModel]="profileUrl"></textarea>
  </div>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" (click)="cancel()">
    <ion-icon name="close" slot="start"></ion-icon>
    <ion-label>
      Close
    </ion-label>
  </ion-button>
</ion-footer>
