<ion-header>

  <ion-navbar color="navBar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Tips, Tricks and Tutorials</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- Click a tutorial to get started!<br /> -->
  <ion-list *ngIf="!active" inset>
    <ion-item *ngFor="let tutorial of tutorials" (click)="active = tutorial.tag">
      <ion-icon name="{{tutorial.icon}}" item-start></ion-icon>
      <h2>{{tutorial.title}}</h2>
      <p>{{tutorial.description}}</p>
      <button ion-button clear item-end>Open</button>
    </ion-item>
    <ion-item>
      <ion-icon name="clock" item-start></ion-icon>
      <h2>More Tutorials are Coming Soon</h2>
      <p>Please feel free to email me if you need help</p>
    </ion-item>
  </ion-list>

  <div *ngIf="active" class="container">
    <br />
    <button float-left ion-button clear (click)="active = ''">
      Close Tutorial
    </button>

    <div *ngIf="active == 'home'" padding>
      <br />
      <h2>My Recipes Page</h2>
      <div class="tutorial-image">
        <img src="assets/tutorial/home.png" />
      </div>
      <p>
        Welcome to the main page of RecipeSage! This is where most of the action happens.
        Here you can search, sort and filter for the recipes you're looking for.<br /><br />
        To create a recipe, you'll need to click that big blue button in the bottom right hand corner.
        That will take you to the recipe authoring page.<br /><br />
        To open a recipe from the my recipes page, click that recipe. This will take you to the recipe details page for that recipe.
      </p>

      <br />
      <h3>My Recipes Settings</h3>
      <div class="tutorial-image">
        <img src="assets/tutorial/home-popover.png" />
      </div>
      <p>
        You can use the settings icon in the upper right-hand corner to adjust sort order, filter by label, and enable/disable
        different visual items.
      </p>

      <br />
      <h3>My Recipes Bulk Actions</h3>
      <div class="tutorial-image">
        <img src="assets/tutorial/home-bulk-actions.png" />
      </div>
      <p>
        You can select multiple recipes by pressing and holding on a recipe, then tapping other recipes you'd like to select.
        Then, use the buttons in the header to create a label for, or delete all of those recipes at the same time.<br /><br />
        You can tap a recipe again to deselect it, or press the X in the top left corner to cancel your selection altogether.
      </p>
    </div>

    <div *ngIf="active == 'editRecipe'" padding>
      <br />
      <h2>Recipe Create/Edit Page</h2>
      <div class="tutorial-image">
        <img src="assets/tutorial/edit-recipe.png" />
      </div>
      <p>
        This is the authoring and editing experience for RecipeSage.<br /><br />
        Fill in the corresponding fields as you wish - only the title is required. After you're done, don't forget to hit save!<br /><br />
        To add an image, click the image holder at the top. Your browser will prompt you to select a file.<br /><br />
        The best images are square - don't worry about size though, RecipeSage will optimize it automatically for thumbnail use.<br /><br />
        Ingredients are divided by linebreaks, so have one per carriage return.
        Ingredient measurements will be automatically parsed, but as a general rule, try to format them as such: 1 1/2 cup. For a range, use: 1 to 2 cups.
        This will help the scaling feature recognize your quantities as best as possible<br /><br />
        Instructions are divided by linebreaks as well, so put each step on a different carriage return. Make sure not to have extra carriage returns in-between!
      </p>
    </div>

    <div *ngIf="active == 'recipeDetails'" padding>
      <br />
      <h2>Recipe Details Page</h2>
      <div class="tutorial-image">
        <img src="assets/tutorial/recipe-details.png" />
      </div>
      <p>
        This page is the detailed view for a single recipe.
        All of the information for the selected recipe is printed here, as well as buttons for various actions.<br /><br />
        The page layout will change based on the screen size of the device you're browsing on so that it's always optimized.
        For the best experience, we suggest having a device large enough to where the ingredients and instructions are shown
        side-by-side.
      </p>

      <br />
      <h2>Scaling a Recipe</h2>
      <div class="tutorial-image">
        <img src="assets/tutorial/recipe-details-scale.png" />
      </div>
      <p>
        Click the scale link to choose a different recipe scale. A dialogue will pop up for the recipe scale.
        Enter a number or a fraction and the ingredient quantities (shown in bold) will adjust.<br /><br />
        Keep in mind that any measurements that are not shown in bold aren't recognized and won't be scaled.<br /><br />
        Values entered into the scale field are not permenant. Once you close this recipe, the scale will default back
        to the scale entered in the recipe editor.
      </p>

      <br />
      <h2>Creating and Deleting Labels</h2>
      <div class="tutorial-image">
        <img src="assets/tutorial/recipe-details-actions.png" />
      </div>
      <p>
        Labels are an excellent way of organizing your recipes.
        Think of labels as folders, but where a single recipe can be in multiple folders!<br /><br />
        To add a label to a recipe, enter the label name in the field below the labels header as shown above,
        and press enter to save.<br /><br />
        Suggestions will be shown below the field as you type - they will be filtered as you type your label name.
        You can click a suggestion to automatically add that label.
        To remove a label, just click the trash can icon.<br /><br />
        You can filter by labels on the my recipes page to see only recipes in a certain label.<br /><br />
      </p>

      <br />
      <h2>Recipe Actions</h2>
      <div class="tutorial-image">
        <img src="assets/tutorial/recipe-details-actions.png" />
      </div>
      <p>
        At the bottom of the recipe details page there are buttons for various recipe actions.
        Here is a brief summary of each of the actions and their corresponding description:
      <p>
      <ul>
        <li>
          <p>
            <b>Edit</b>: This button will take you to the editing/authoring page for this recipe, allowing you to change
            details about this recipe such as instructions and ingredients.
          </p>
        </li>
        <li>
          <p>
            <b>Delete</b>: This button will start the process of deleting this recipe permenantly. Don't worry, you'll
            be prompted before the recipe is deleted. Confirming the deletion dialogue will completely and permenantly
            remove the recipe from the system.
          </p>
        </li>
        <li>
          <p>
            <b>Add to shopping list</b>: This button will open the add to shopping list dialogue for this recipe.
          </p>
        </li>
        <li>
          <p>
            <b>Add to meal plan</b>: This button will open the add to meal plan dialogue for this recipe.
          </p>
        </li>
        <li>
          <p>
            <b>Share</b>: This button will open the share dialogue for this recipe, allowing you to send this recipe to another
            RecipeSage user.
          </p>
        </li>
      </ul>

      <br />
      <h2>Adding a Recipe to a Shopping List</h2>
      <div class="tutorial-image">
        <img src="assets/tutorial/add-recipe-to-shopping-list.png" />
      </div>
      <p>
        Shopping lists are a great way of keeping track of ingredients and items that you need from the store.
        Check out the shopping list tutorial to see how to use the various shopping list pages.<br /><br />
        To begin the process of adding a recipe to a shopping list, press the add to shopping list button at the bottom
        of the recipe details page (as described in the recipe actions tutorial). You'll then be presented with the
        add to shopping list modal shown in the image above.<br /><br />
        Select the list you'd like to add to by clicking the dropdown selector at the top of the modal. Then, select/deselect
        the ingredients that you'd like to add to the list. The select/deselect all button will toggle all of the ingredients.<br /><br />
        Note: To use the add to shopping list modal your recipe will need to have some ingredients, and you'll need to have
        at least one shopping list in your account.
      </p>

      <br />
      <h2>Adding a Recipe to a Meal Plan</h2>
      <div class="tutorial-image">
        <img src="assets/tutorial/add-recipe-to-meal-plan.png" />
      </div>
      <p>
        Meal plans are a great way of keeping track of which recipes you're going to cook on what day.
        Check out the meal plan tutorial to see how to use the various meal plan pages.<br /><br />
        To begin the process of adding a recipe to a meal plan, press the add to meal plan button at the bottom
        of the recipe details page (as described in the recipe actions tutorial). You'll then be presented with the
        add to meal plan modal shown in the image above.<br /><br />
        Select the meal plan you'd like to add to by clicking the dropdown selector at the top of the modal. Then, click
        the day that you'd like to add the recipe to in the interactive calendar.
        To switch months, click the arrows next to the month name at the top of the calendar.<br /><br />
        Lastly, select the meal that you'd like to designate for this recipe by clicking the dropdown selector at the bottom
        of the page.<br /><br />
        Note: To use the add to meal plan modal you'll need to have at least one meal plan in your account.
      </p>

      <br />
      <h2>Sharing a Recipe</h2>
      <div class="tutorial-image">
        <img src="assets/tutorial/share-recipe.png" />
      </div>
      <p>
        The recipe sharing modal allows you to send a recipe to another RecipeSage user.<br /><br />
        To begin the process of sharing a recipe, press the share button at the bottom
        of the recipe details page (as described in the recipe actions tutorial). You'll then be presented with the
        share modal shown in the image above.<br /><br />
        To select a recipient, type the email of the RecipeSage user you'd like to send the recipe to in the field recipient
        email field. The status below the field will update as you type. It will either report that the user was found
        (and will show their nickname), or it will report that no user was found with that email address.<br /><br />
        You can also select the recipient from your list of existing conversations if you already have an existing message thread
        with the user (this list will not be shown if you do not have at least one existing message thread with another user).<br /><br />
        After selecting the recipient user via either method, you'll be able to press the send button. After sending, a <b>copy</b>
        of the recipe will be sent to the recipient. Keep in mind that any modifications that they do to the received copy will not
        affect your copy of the recipe.<br /><br />
        Note: You can only send recipes to another user that already has an account with RecipeSage.
      </p>

      <br />
      <h2>Printing a Recipe</h2>
      <div class="tutorial-image">
        <img src="assets/tutorial/select-recipe-print-layout.png" />
      </div>
      <p>
        The print recipe modal allows you to print a hardcopy of your recipe.<br /><br />
        To begin the process of printing a recipe, press the print button at the bottom
        of the recipe details page (as described in the recipe actions tutorial). You'll then be presented with the
        print layout modal shown in the image above.<br /><br />
        To select a print layout, click the desired layout displayed in the layout list.<br /><br />
        After selecting a print layout, you'll be able to press the print button. The print button will trigger your system
        print dialogue.<br /><br />
        In your system print dialogue, you can adjust margins, change color settings and select your printer. Depending on your
        browser and operating system version, your system print dialogue will look vastly different,
        therefore no screenshot is shown for this step.<br /><br />
        Note: If you have trouble using this feature, try using Chrome or Firefox. Other browsers may not perform the same.
      </p>
    </div>

    <br /><br />

    <button float-left ion-button clear (click)="active = ''">
      Close Tutorial
    </button>

    <button float-right ion-button clear (click)="next()" [disabled]="isLast()">
      Next Tutorial
    </button>

    <br /><br /><br /><br />
  </div>
</ion-content>
