<ion-header>

  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Export</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <p>After selecting to export your data, a file will begin to download. You may have to press "allow".</p>
  <p>The exported file will contain all of your recipes in the selected format.</p>

  <div>
  	<a ion-button block [href]="exportLinks['json']" target="_blank">Export as JSON (best)</a>
  	<a ion-button block [href]="exportLinks['xml']" target="_blank">Export as XML</a>
  	<a ion-button block [href]="exportLinks['txt']" target="_blank">Export as Plain Text</a>
	</div>

  <p><b>Note:</b> If you plan to re-import the data later, you'll need to select JSON format.</p>
</ion-content>
