<ion-header>
  <ion-navbar color="navBar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Meal Plans</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item class="mealPlan" *ngFor="let mealPlan of mealPlans" (click)="openMealPlan(mealPlan.id)" text-wrap>
      <ion-icon name="list" item-start></ion-icon>
      <h2>{{ mealPlan.title }}</h2>
      <p>
        Created {{ formatItemCreationDate(mealPlan.createdAt) }}
      </p>
      <p *ngIf="mealPlan.collaborators.length > 0">
        In collaboration with:
        <span *ngFor="let user of mealPlan.collaborators">
          <span *ngIf="mealPlan.myUserId !== user.id">{{ user.name || user.email }}</span>
        </span>
        <span *ngIf="mealPlan.myUserId !== mealPlan.owner.id">{{ mealPlan.owner.name || mealPlan.owner.email
          }}</span>
      </p>
      <p>
        <span *ngIf="mealPlan.myUserId !== mealPlan.owner.id">Created by {{ mealPlan.owner.name || mealPlan.owner.email
          }}</span>
        <span *ngIf="mealPlan.myUserId === mealPlan.owner.id">You own this list</span>
      </p>
      <ion-badge item-end>{{ mealPlan.itemCount }}</ion-badge>
    </ion-item>
    <ion-item *ngIf="mealPlans.length === 0 && initialLoadComplete" text-wrap text-center>
      <br />
      <br />
      <br />
      <p>
        You have no meal plans.
        <br />
        <button ion-button icon-left (click)="newMealPlan()">
          <ion-icon name="add"></ion-icon>
          Create your first meal plan
        </button>
      </p>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button (click)="newMealPlan()" ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
