<ion-header>

  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Settings</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item (click)="goToImport()">
      <ion-icon name="cloud-upload" slot="start"></ion-icon>
      <ion-label>
        Import Recipe Data
      </ion-label>
    </ion-item>
    <ion-item (click)="goToExport()">
      <ion-icon name="cloud-download" slot="start"></ion-icon>
      <ion-label>
        Export Recipe Data
      </ion-label>
    </ion-item>
    <ion-item (click)="goToAccount()">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>
        Account & Credentials
      </ion-label>
    </ion-item>
    <ion-item (click)="checkForUpdate()">
      <ion-icon name="sync" slot="start"></ion-icon>
      <ion-label>
        Check for Update
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
