.image-carousel {
  display: flex;
  overflow-x: auto;
  padding: 16px 0;
}

.recipe-image {
  cursor: pointer;
  text-align: center;

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    margin-right: auto;
  }

  .image-frame {
    position: relative;
    width: 200px;
    height: 200px;

    margin: 8px 16px;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);

    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 450px) {
      width: 150px;
      height: 150px;
    }

    .remove-image {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(40%, -40%);
      font-size: 1.25rem;
      background: var(--ion-background-color);
      border-radius: 100%;
    }

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;

      @media only screen and (max-width: 450px) {
        width: 150px;
        height: 150px;
      }
    }

    span {
      padding: 0 10px;
    }
  }

  .image-subtext {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;

    ion-icon {
      font-size: 1.75rem;
      margin: 0 8px;
    }

    .hide-reorder {
      opacity: 0;
    }
  }
}
