<ion-header>
  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{ showLogin ? 'Log In' : 'Create an Account' }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="auth-container">
    <ion-list>
      <div class="auth-entry">

        <br /><br />

        <div *ngIf="isSelfHost">
          Note: This is a selfhosted version of RecipeSage and is therefore not associated with <a href="https://recipesage.com" target="_blank" rel="noreferrer noopener">RecipeSage.com</a> or any of the accounts located on the main site.
        </div>

        <br /><br />

        <div class="welcome" *ngIf="showLogin">
          <h2>Welcome back!</h2>
          <span>Please login with your account details below.</span>
        </div>

        <div class="welcome" *ngIf="!showLogin">
          <h2>Welcome!</h2>
          <span>We need a few details to create your account.</span><br />
          <span>After this, you'll be set up and ready to go.</span>
        </div>

        <br /><br /><br /><br />

        <div *ngIf="!showLogin">
          <label>
            Full Name or Nickname<br />
            <input id="name" type="text" />
          </label>
          <br /><br />
        </div>

        <label>
          Email<br />
          <input id="email" type="email" />
        </label>
        <br /><br />

        <label>
          Password<br />
          <input id="password" (keyup.enter)="showLogin && auth()" type="password" />
        </label>
        <br /><br />

        <div *ngIf="!showLogin">
          <label>
            Confirm Password<br />
            <input id="confirmPassword" (keyup.enter)="auth()" type="password" />
          </label>
          <br /><br />
        </div>
      </div>

      <tos-clickwrap-agreement *ngIf="!isSelfHost" [actionTitle]="showLogin ? 'logging in' : 'creating an account'"></tos-clickwrap-agreement>

      <div *ngIf="isSelfHost">Make sure you trust the site owner of this selfhost copy</div>

      <div class="ion-padding">
      	<ion-button expand="block" (click)="auth()">{{ showLogin ? "Log In" : "Create Account" }}</ion-button>
  		</div>

      <div>
        <ion-button fill="clear" expand="block" *ngIf="showLogin" (click)="forgotPassword()">Forgot password</ion-button>
      </div>

      <div>
        <ion-button fill="clear" expand="block" (click)="toggleLogin()">{{ showLogin ? "Create an account instead" : "Log in instead" }}</ion-button>
      </div>
    </ion-list>
  </div>
</ion-content>
