.auth-container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-max-width);

  .welcome {
    color: var(--ion-text-color);
    text-align: center;
  }

  label {
    color: var(--ion-text-color);
    font-size: 12px;
    margin: 5px;
  }

  input {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid;
    border-color: var(--ion-border-color);
    padding: 10px;
    transition: 0.3s;
    background: transparent;
    color: var(--ion-text-color);
    outline: none;

    &:focus {
      border-color: var(--ion-color-primary);
    }
  }
}
