<ion-header>
  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      {{ 'pages.mealPlans.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item button
      class="ion-text-wrap"
      *ngFor="let mealPlan of mealPlans"
      (click)="openMealPlan(mealPlan.id)">
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>
        <h2>{{ mealPlan.title }}</h2>
        <p>
          {{ 'pages.mealPlans.metadata.createdOn' | translate:{date:formatItemCreationDate(mealPlan.createdAt)} }}
        </p>
        <p *ngIf="mealPlan.collaborators.length > 0">
          {{ 'pages.mealPlans.metadata.collaborators' | translate }}
          <span *ngFor="let user of mealPlan.collaborators; last as isLast">
            <span *ngIf="mealPlan.myUserId !== user.id">
              {{ user.name || user.email }}<span *ngIf="!isLast || mealPlan.myUserId !== mealPlan.owner.id">,</span>
            </span>
          </span>
          <span *ngIf="mealPlan.myUserId !== mealPlan.owner.id">
            {{ mealPlan.owner.name || mealPlan.owner.email }}
          </span>
        </p>
        <p>
          <span *ngIf="mealPlan.myUserId !== mealPlan.owner.id">
            {{ 'pages.mealPlans.metadata.createdBy' | translate:{name:(mealPlan.owner.name || mealPlan.owner.email)} }}
          </span>
          <span *ngIf="mealPlan.myUserId === mealPlan.owner.id">
            {{ 'pages.mealPlans.metadata.youOwn' | translate }}
          </span>
        </p>
      </ion-label>
      <ion-badge slot="end">{{ mealPlan.itemCount }}</ion-badge>
    </ion-item>
    <null-state *ngIf="mealPlans.length === 0 && initialLoadComplete">
      <ion-icon name="calendar" class="big-icon" virtualSlot="header"></ion-icon>
      <ion-label virtualSlot="body">
        <p>
          {{ 'pages.mealPlans.noPlans' | translate }}<br />
          {{ 'pages.mealPlans.toCreate' | translate }}
        </p>
      </ion-label>
    </null-state>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newMealPlan()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
