<ion-list no-border>
  <ion-list-header>
    Options
  </ion-list-header>

  <ion-item lines="full">
    <ion-label>Layout</ion-label>
    <ion-select [(ngModel)]="preferences[preferenceKeys.ViewType]" (ngModelChange)="savePreferences();">
      <ion-select-option value="tiles">Tiles</ion-select-option>
      <ion-select-option value="list">List</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="full">
    <ion-toggle [(ngModel)]="preferences[preferenceKeys.ShowLabels]" (ngModelChange)="savePreferences()" slot="start"></ion-toggle>
    <ion-label class="ion-text-wrap">
      Show Labels
    </ion-label>
  </ion-item>

  <ion-item lines="full" *ngIf="!guestMode">
    <ion-toggle [(ngModel)]="preferences[preferenceKeys.ShowLabelChips]" (ngModelChange)="savePreferences()" slot="start"></ion-toggle>
    <ion-label class="ion-text-wrap">
      Show Label Toggles
    </ion-label>
  </ion-item>

  <ion-item lines="full">
    <ion-toggle [(ngModel)]="preferences[preferenceKeys.ShowImages]" (ngModelChange)="savePreferences()" slot="start"></ion-toggle>
    <ion-label class="ion-text-wrap">
      Show Images
    </ion-label>
  </ion-item>

  <ion-item lines="full">
    <ion-toggle [(ngModel)]="preferences[preferenceKeys.ShowSource]" (ngModelChange)="savePreferences()" slot="start"></ion-toggle>
    <ion-label class="ion-text-wrap">
      Show Source
    </ion-label>
  </ion-item>

  <ion-item lines="full">
    <ion-toggle [(ngModel)]="preferences[preferenceKeys.ShowRecipeDescription]" (ngModelChange)="savePreferences()" slot="start"></ion-toggle>
    <ion-label class="ion-text-wrap">
      Show Description
    </ion-label>
  </ion-item>

  <ion-item lines="full">
    <ion-label>Sort by</ion-label>
    <ion-select [(ngModel)]="preferences[preferenceKeys.SortBy]" (ngModelChange)="savePreferences(true);">
      <ion-select-option value="-title">Title</ion-select-option>
      <!--<ion-select-option value="label">Label</ion-select-option>-->
      <ion-select-option value="-createdAt">Created (newest first)</ion-select-option>
      <ion-select-option value="createdAt">Created (oldest first)</ion-select-option>
      <ion-select-option value="-updatedAt">Updated (newest first)</ion-select-option>
      <ion-select-option value="updatedAt">Updated (oldest first)</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="full" *ngIf="!guestMode" class="cursor-pointer" (click)="openLabelFilter()" button detail="false">
    <ion-label>Filter by Label</ion-label>
    <ion-badge *ngIf="selectedLabels.length > 0" slot="end">{{selectedLabels.length}}</ion-badge>
    <ion-icon name="caret-down-sharp" size="small" slot="end"></ion-icon>
  </ion-item>

  <ion-item lines="full" *ngIf="!guestMode">
    <ion-toggle [(ngModel)]="preferences[preferenceKeys.EnableLabelIntersection]" (ngModelChange)="savePreferences(true);" slot="start"></ion-toggle>
    <ion-label class="ion-text-wrap">
      Match All Labels
    </ion-label>
  </ion-item>

  <ion-button *ngIf="!guestMode" (click)="toggleSelectionMode()" expand="block" size="small" class="ion-margin">
    <ion-icon [name]="selectionMode ? 'close' : 'checkmark'" slot="start"></ion-icon>
    {{ selectionMode ? "Unselect All Recipes" : "Select Multiple Recipes" }}
  </ion-button>

  <ion-item lines="none" *ngIf="guestMode">
    <p>
      Note: some options are hidden, since this is a shared collection
    </p>
  </ion-item>
</ion-list>
