<ion-list no-border>
  <ion-list-header>
    Options
  </ion-list-header>

  <ion-item>
    <ion-toggle [(ngModel)]="preferences[preferenceKeys.ShowLabels]" (ngModelChange)="savePreferences()"></ion-toggle>
    <ion-label class="ion-text-wrap">
      Show Labels
    </ion-label>
    <ion-icon name='pricetag' slot="start"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-toggle [(ngModel)]="preferences[preferenceKeys.ShowLabelChips]" (ngModelChange)="savePreferences()"></ion-toggle>
    <ion-label class="ion-text-wrap">
      Show Label Toggles
    </ion-label>
    <ion-icon name='pricetag' slot="start"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-toggle [(ngModel)]="preferences[preferenceKeys.ShowImages]" (ngModelChange)="savePreferences()"></ion-toggle>
    <ion-label class="ion-text-wrap">
      Show Images
    </ion-label>
    <ion-icon name='image' slot="start"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-toggle [(ngModel)]="preferences[preferenceKeys.ShowSource]" (ngModelChange)="savePreferences()"></ion-toggle>
    <ion-label class="ion-text-wrap">
      Show Source
    </ion-label>
    <ion-icon name='link' slot="start"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-icon name='list' slot="start"></ion-icon>
    <ion-label>Sort by</ion-label>
    <ion-select [(ngModel)]="preferences[preferenceKeys.SortBy]" (ngModelChange)="savePreferences(true);">
      <ion-select-option value="-title">Title</ion-select-option>
      <!--<ion-select-option value="label">Label</ion-select-option>-->
      <ion-select-option value="-createdAt">Created (newest first)</ion-select-option>
      <ion-select-option value="createdAt">Created (oldest first)</ion-select-option>
      <ion-select-option value="-updatedAt">Updated (newest first)</ion-select-option>
      <ion-select-option value="updatedAt">Updated (oldest first)</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="cursor-pointer" (click)="openLabelFilter()">
    <ion-icon name='funnel' slot="start"></ion-icon>
    <ion-label>Filter by Label</ion-label>
    <ion-badge *ngIf="selectedLabels.length > 0" slot="end">{{selectedLabels.length}}</ion-badge>
    <ion-icon name="arrow-dropdown" slot="end"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-toggle [(ngModel)]="preferences[preferenceKeys.EnableLabelIntersection]" (ngModelChange)="savePreferences(true);"></ion-toggle>
    <ion-label class="ion-text-wrap">
      Match All Labels
    </ion-label>
    <ion-icon name='funnel' slot="start"></ion-icon>
  </ion-item>

  <ion-item *ngIf="!selectionMode">
    <ion-icon name='checkmark' slot="start"></ion-icon>
    <ion-button (click)="toggleSelectionMode()" expand="full">Select Multiple Recipes</ion-button>
  </ion-item>

  <ion-item *ngIf="selectionMode">
    <ion-icon name='close' slot="start"></ion-icon>
    <ion-button (click)="toggleSelectionMode()" expand="full">Unselect All Recipes</ion-button>
  </ion-item>
</ion-list>
