<ion-list no-border>
  <ion-list-header>
    Options
  </ion-list-header>

  <ion-item>
    <ion-toggle [(ngModel)]="viewOptions.showLabels" (ngModelChange)="saveViewOptions()"></ion-toggle>
    <ion-label class="ion-text-wrap">
      Show Labels
    </ion-label>
    <ion-icon name='pricetag' slot="start"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-toggle [(ngModel)]="viewOptions.showLabelChips" (ngModelChange)="saveViewOptions()"></ion-toggle>
    <ion-label class="ion-text-wrap">
      Show Label Toggles
    </ion-label>
    <ion-icon name='pricetag' slot="start"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-toggle [(ngModel)]="viewOptions.showImages" (ngModelChange)="saveViewOptions()"></ion-toggle>
    <ion-label class="ion-text-wrap">
      Show Images
    </ion-label>
    <ion-icon name='image' slot="start"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-toggle [(ngModel)]="viewOptions.showSource" (ngModelChange)="saveViewOptions()"></ion-toggle>
    <ion-label class="ion-text-wrap">
      Show Source
    </ion-label>
    <ion-icon name='link' slot="start"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-icon name='list' slot="start"></ion-icon>
    <ion-label>Sort by</ion-label>
    <ion-select [(ngModel)]="viewOptions.sortBy" (ngModelChange)="saveViewOptions(true);">
      <ion-select-option value="-title">Title</ion-select-option>
      <!--<ion-select-option value="label">Label</ion-select-option>-->
      <ion-select-option value="-createdAt">Created (newest first)</ion-select-option>
      <ion-select-option value="createdAt">Created (oldest first)</ion-select-option>
      <ion-select-option value="-updatedAt">Updated (newest first)</ion-select-option>
      <ion-select-option value="updatedAt">Updated (oldest first)</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="cursor-pointer" (click)="openLabelFilter()">
    <ion-icon name='funnel' slot="start"></ion-icon>
    <ion-label>Filter by Label</ion-label>
    <ion-badge *ngIf="viewOptions.selectedLabels.length > 0" slot="end">{{viewOptions.selectedLabels.length}}</ion-badge>
    <ion-icon name="arrow-dropdown" slot="end"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-toggle [(ngModel)]="viewOptions.enableLabelIntersection" (ngModelChange)="saveViewOptions(true);"></ion-toggle>
    <ion-label class="ion-text-wrap">
      Match All Labels
    </ion-label>
    <ion-icon name='funnel' slot="start"></ion-icon>
  </ion-item>
</ion-list>
