$scale: 0.3;
$width: 600px;
$descriptionHeight: 20px;
$height: 800px;

.template {
  background: white;
  width: $width * $scale;
  height: ($height * $scale) + $descriptionHeight;

  &.landscape {
    width: $height * $scale;
    height: ($width * $scale) + $descriptionHeight;

    iframe {
      width: $height;
      height: $width;
    }
  }

  overflow: hidden;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.7);
  position: relative;
  border: 2px solid transparent;
  cursor: pointer;

  &.selected {
    border: 2px solid var(--ion-color-primary);
  }

  .description {
    height: $descriptionHeight;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    line-height: $descriptionHeight;
    text-align: center;
  }

  iframe {
    width: $width;
    height: $height;
    overflow: hidden;
    border: none;

    user-select: none;

    -ms-zoom: $scale;
    -ms-transform-origin: 0 0;
    -moz-transform: scale($scale);
    -moz-transform-origin: 0px 50px;
    -o-transform: scale($scale);
    -o-transform-origin: 0px 50px;
    -webkit-transform: scale($scale);
    -webkit-transform-origin: 0 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
