<ion-header>

  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- <ion-title>Contribute!</ion-title> -->
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding">
  <p class="headline">No Amount is Too Little!</p>

  <div class="card">
    <logo-icon href="/#/about"></logo-icon>

    <p>
      Every contribution helps, no matter how much!
    </p>

    <p>
      We don't get many donations, and this is a fairly small platform.
    </p>

    <p>
      In order to keep things free while paying for server costs, we need <i>your</i> help.
    </p>

    <p>
      Please reconsider - any amount is appreciated!
    </p>

    <a
      class="donate monthly-paypal"
      href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GUFFC8V9ESPJQ&source=url">
      Monthly
    </a>

    <!-- <br /> -->

    <a
      class="donate one-time-paypal"
      href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Y6WCWPZLJQWYY&source=url">
      One-time
    </a>
    <br />
  </div>




</ion-content>
