<ion-header>

  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
    </ion-buttons>

    <ion-title>We need your help!</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding ion-text-center">
  <p class="headline">We need your help!</p>

  <div class="card">
    <logo-icon href="/#/about"></logo-icon>

    <p>
      RecipeSage is donation based - every contribution helps!
    </p>

    <br />

    <p>
      Unfortunately, RecipeSage doesn't get many donations since it is a fairly small platform.
    </p>

    <p>
      In order to keep things free while paying for server costs, we need <i>your</i> help.
    </p>

    <p>
      Please reconsider - your contribution is truly appreciated!
    </p>

    <a
      class="donate monthly-paypal"
      [routerLink]="contributePath">
      Contribute
    </a>
    <br />
  </div>




</ion-content>
