meal-calendar {
  .calendar-nav {
    text-align: center;
    line-height: 44px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;

    // ion-icon {
    //   color: black;
    // }
  }

  .calendar {
    .week {


      .day {
        border: 1px solid #dbdbdb;
        min-height: 80px;
        cursor: pointer;

        &:hover {
          background: #f0f0f0;
        }

        &.selected {
          background: #e2e2e2;
        }

        .date {
          border-radius: 45px;
          display: inline-block;
          text-align: center;

          padding: 5px;
          height: 28px;
          width: 28px;
          line-height: 18px;

          &.inactive {
            color: #424242;
          }

          &.today {
            background: #00a8ff;
            color: white;
          }
        }

        .recipe-dot {
          width: 10px;
          height: 10px;
          background: #00a8ff;
          border-radius: 45px;

          display: inline-block;
          margin: 1px;
          vertical-align: middle;
        }
      }
    }
  }
}
