page-share-modal {
  .preview-settings-container {
    display: grid;

    recipe-preview {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 20;
    }

    ion-item {
      grid-column-start: 2;
    }
  }

  .codeBlock {
    display: flex;
    align-items: center;

    background: rgb(242, 242, 242);
    color: black;

    border-radius: 10px;
    margin: 10px;
    padding: 15px;

    .code {
      flex-grow: 1;
      user-select: all;
      word-wrap: break-word;
      max-width: 100%;

      &.hasActionButton {
        padding-right: 20px;
      }
    }

    button {
      flex-shrink: 0;
    }
  }
}
