<ion-header>
  <ion-navbar color="navBar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{ showLogin ? 'Log In' : 'Create an Account' }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="auth-container">
    <ion-list>
      <div class="auth-entry">

        <br /><br /><br /><br />

        <div class="welcome" *ngIf="showLogin">
          <h2>Welcome back!</h2>
          <span>Please login with your account details below.</span>
        </div>

        <div class="welcome" *ngIf="!showLogin">
          <h2>Welcome!</h2>
          <span>We need a few details to create your account.</span><br />
          <span>After this, you'll be set up and ready to go.</span>
        </div>

        <br /><br /><br /><br />

        <div *ngIf="!showLogin">
          <label>
            Full Name or Nickname<br />
            <input id="name" type="text" />
          </label>
          <br /><br />
        </div>

        <label>
          Email<br />
          <input id="email" type="email" />
        </label>
        <br /><br />

        <label>
          Password<br />
          <input id="password" (keyup.enter)="showLogin && auth()" type="password" />
        </label>
        <br /><br />

        <div *ngIf="!showLogin">
          <label>
            Confirm Password<br />
            <input id="confirmPassword" (keyup.enter)="auth()" type="password" />
          </label>
          <br /><br />
        </div>
      </div>

      <div>
        <p *ngIf="!showLogin">By clicking Create Account, you agree to our <a href="" (click)="showLegal($event)">Terms</a></p>
      </div>

      <div padding>
      	<button ion-button block (click)="auth()">{{ showLogin ? "Log In" : "Create Account" }}</button>
  		</div>

      <div>
        <button ion-button clear block *ngIf="showLogin" (click)="forgotPassword()">Forgot password</button>
      </div>

      <div>
        <button ion-button clear block (click)="toggleLogin()">{{ showLogin ? "Create an account instead" : "Log in instead" }}</button>
      </div>
    </ion-list>
  </div>
</ion-content>
