<ion-header>
  <ion-navbar color="navBar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item style="position: absolute; width: 0px; height: 0px;">
      <label for="fakeEmail">Email</label>
      <input id="fakeEmail" style="border: none; height: 1px; width: 0;" name="email" />
      <label for="fakePassword">Password</label>
      <input id="fakePassword" style="border: none; height: 0; width: 0;" name="password" />
    </ion-item>

    <ion-item *ngIf="!showLogin">
      <ion-label floating>Full Name or Nickname</ion-label>
      <ion-input [(ngModel)]="name" type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input role="presentation" autocomplete="off" autofill="off" [(ngModel)]="email" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input autocomplete="off" autofill="off" [(ngModel)]="password" (keyup.enter)="showLogin && auth()" type="password"></ion-input>
    </ion-item>

    <ion-item *ngIf="!showLogin">
      <ion-label floating>Confirm Password</ion-label>
      <ion-input [(ngModel)]="confirmPassword" (keyup.enter)="auth()" type="password"></ion-input>
    </ion-item>

    <div padding>
    	<button ion-button block (click)="auth()">{{ showLogin ? "Login" : "Signup" }}</button>
		</div>

		<div>
    	<button ion-button clear block (click)="toggleLogin()">{{ showLogin ? "Signup instead" : "Login instead" }}</button>
		</div>
		
		{{ errorMessage }}

  </ion-list>
</ion-content>
