<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngIf="!showLogin">
      <ion-label floating>Full Name or Nickname</ion-label>
      <ion-input [(ngModel)]="name" type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input [(ngModel)]="email" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

    <ion-item *ngIf="!showLogin">
      <ion-label floating>Confirm Password</ion-label>
      <ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
    </ion-item>

    <div padding>
    	<button ion-button block (click)="auth()">{{ showLogin ? "Login" : "Signup" }}</button>
		</div>

		<div>
    	<button ion-button clear block (click)="toggleLogin()">{{ showLogin ? "Signup instead" : "Login instead" }}</button>
		</div>
		
		{{ errorMessage }}

  </ion-list>
</ion-content>
