<ion-header>
  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{ 'pages.shoppingList.title' | translate:{title:list.title} }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon name="options" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list lines="none">
    <div *ngIf="preferences[preferenceKeys.GroupCategories] && preferences[preferenceKeys.GroupSimilar]">
      <div *ngFor="let categoryTitle of categoryTitles" class="category-container">
        <ion-list-header (click)="categoryTitleCollapsed[categoryTitle] = !categoryTitleCollapsed[categoryTitle]">
          <ion-title class="ion-no-padding">
            {{ categoryTitle }}
            <ion-icon *ngIf="!categoryTitleCollapsed[categoryTitle]" name="caret-down"></ion-icon>
            <ion-icon *ngIf="categoryTitleCollapsed[categoryTitle]" name="caret-up"></ion-icon>
          </ion-title>
        </ion-list-header>
        <div *ngIf="!categoryTitleCollapsed[categoryTitle]">
          <div *ngFor="let group of groupsByCategoryTitle[categoryTitle]" class="shopping-list-item">
            <shopping-list-group
              [group]="group"
              [categoryTitle]="categoryTitle"
              [groupTitleExpanded]="groupTitleExpanded"
              [showRecipeTitle]="preferences[preferenceKeys.ShowRecipeTitle]"
              [showAddedOn]="preferences[preferenceKeys.ShowAddedOn]"
              [showAddedBy]="preferences[preferenceKeys.ShowAddedBy] && list.collaborators.length > 0"
              (complete)="removeItems($event)"></shopping-list-group>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!preferences[preferenceKeys.GroupCategories] && preferences[preferenceKeys.GroupSimilar]">
      <div *ngFor="let groupTitle of groupTitles" class="shopping-list-item">
        <shopping-list-group
          [group]="{ title: groupTitle, items: itemsByGroupTitle[groupTitle] }"
          [groupTitleExpanded]="groupTitleExpanded"
          [showRecipeTitle]="preferences[preferenceKeys.ShowRecipeTitle]"
          [showAddedOn]="preferences[preferenceKeys.ShowAddedOn]"
          [showAddedBy]="preferences[preferenceKeys.ShowAddedBy] && list.collaborators.length > 0"
          (complete)="removeItems($event)"></shopping-list-group>
      </div>
    </div>
    <div *ngIf="preferences[preferenceKeys.GroupCategories] && !preferences[preferenceKeys.GroupSimilar]">
      <div *ngFor="let categoryTitle of categoryTitles" class="category-container">
        <ion-list-header (click)="categoryTitleCollapsed[categoryTitle] = !categoryTitleCollapsed[categoryTitle]">
          <ion-title class="ion-no-padding">
            {{ categoryTitle }}
            <ion-icon *ngIf="!categoryTitleCollapsed[categoryTitle]" name="caret-down"></ion-icon>
            <ion-icon *ngIf="categoryTitleCollapsed[categoryTitle]" name="caret-up"></ion-icon>
          </ion-title>
        </ion-list-header>
        <div *ngIf="!categoryTitleCollapsed[categoryTitle]">
          <div *ngFor="let item of itemsByCategoryTitle[categoryTitle]" class="shopping-list-item">
            <shopping-list-item
              [title]="item.title"
              [recipeTitle]="preferences[preferenceKeys.ShowRecipeTitle] && item.recipe?.title"
              [createdAt]="preferences[preferenceKeys.ShowAddedOn] && item.createdAt"
              [ownerName]="preferences[preferenceKeys.ShowAddedBy] && list.collaborators.length > 0 && item.owner?.name"
              (complete)="removeItems([item])"></shopping-list-item>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!preferences[preferenceKeys.GroupCategories] && !preferences[preferenceKeys.GroupSimilar]">
      <div *ngFor="let item of list.items" class="shopping-list-item">
        <shopping-list-item
          [title]="item.title"
          [recipeTitle]="preferences[preferenceKeys.ShowRecipeTitle] && item.recipe?.title"
          [createdAt]="preferences[preferenceKeys.ShowAddedOn] && item.createdAt"
          [ownerName]="preferences[preferenceKeys.ShowAddedBy] && list.collaborators.length > 0 && item.owner?.name"
          (complete)="removeItems([item])"></shopping-list-item>
      </div>
    </div>
    <null-state *ngIf="list.items.length === 0 && initialLoadComplete">
      <ion-icon name="cart" class="big-icon" virtualSlot="header"></ion-icon>
      <ion-label virtualSlot="body">
        <p>
          {{ 'pages.shoppingList.nullState.1' | translate }}<br />
          {{ 'pages.shoppingList.nullState.2' | translate }}
          <br /><br />
          <ion-button (click)="newShoppingListItem()">
            <ion-icon name="add" slot="start"></ion-icon>
            <ion-label>
              {{ 'pages.shoppingList.nullState.add' | translate }}
            </ion-label>
          </ion-button>
        </p>
      </ion-label>
    </null-state>
  </ion-list>

  <br />

  <ion-list *ngIf="recipeIds.length > 0">
    <ion-list-header>
      {{ 'pages.shoppingList.recipes' | translate }}
    </ion-list-header>
    <ion-item *ngFor="let recipeId of recipeIds" button>
      <ion-icon class="delete-recipe" name="trash" slot="start" (click)="removeRecipe(recipeId)"></ion-icon>
      <ion-label (click)="openRecipe(itemsByRecipeId[recipeId][0].recipe.id)">
        {{ itemsByRecipeId[recipeId][0].recipe.title }}
      </ion-label>
    </ion-item>
  </ion-list>

  <br />

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newShoppingListItem()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
