<ion-list no-border>
  <ion-list-header>
    Options
  </ion-list-header>

  <ion-item lines="full">
    <ion-label>Sort by</ion-label>
    <ion-select [(ngModel)]="preferences[preferenceKeys.SortBy]" (ngModelChange)="savePreferences();">
      <ion-select-option value="-title">Title</ion-select-option>
      <ion-select-option value="-createdAt">Created (newest first)</ion-select-option>
      <ion-select-option value="createdAt">Created (oldest first)</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="full">
    <ion-toggle [(ngModel)]="preferences[preferenceKeys.GroupSimilar]" (ngModelChange)="savePreferences()" slot="start"></ion-toggle>
    <ion-label>
      Group Similar Items
    </ion-label>
  </ion-item>

  <ion-item lines="full">
    <ion-toggle [(ngModel)]="preferences[preferenceKeys.ShowRecipeTitle]" (ngModelChange)="savePreferences()" slot="start"></ion-toggle>
    <ion-label>
      Show Recipe Title
    </ion-label>
  </ion-item>

  <ion-item lines="full" *ngIf="shoppingList.collaborators.length > 0">
    <ion-toggle [(ngModel)]="preferences[preferenceKeys.ShowAddedBy]" (ngModelChange)="savePreferences()" slot="start"></ion-toggle>
    <ion-label>
      Show Added By
    </ion-label>
  </ion-item>

  <ion-item lines="full">
    <ion-toggle [(ngModel)]="preferences[preferenceKeys.ShowAddedOn]" (ngModelChange)="savePreferences()" slot="start"></ion-toggle>
    <ion-label>
      Show Added On
    </ion-label>
  </ion-item>

  <ion-button (click)="print()" expand="block" size="small" class="ion-margin">
    <ion-icon name='print' slot="start"></ion-icon>
    Print
  </ion-button>

  <ion-button (click)="removeAllItems()" expand="block" size="small" class="ion-margin">
    <ion-icon name='remove-circle' slot="start"></ion-icon>
    Remove all items
  </ion-button>

  <ion-button (click)="deleteList()" expand="block" size="small" class="ion-margin">
    <ion-icon name='trash' slot="start"></ion-icon>
    Delete list
  </ion-button>
</ion-list>
