.category-container {
  margin-bottom: 8px;
}

ion-list-header {
  cursor: pointer;

  ion-label {
    font-size: 1.25rem;
    font-weight: 500;
  }

  ion-icon {
    vertical-align: middle;
    margin-left: 8px;
  }
}

.shopping-list-item:nth-child(odd) {
  background: var(--rs-list-stripe-color);

  shopping-list-item,
  ion-item.groupedItem {
    --background: var(--rs-list-stripe-color);
  }
}

.page-wrapper {
  max-width: var(--page-max-width);
  margin: 0 auto;
}
