<div>
  <ion-item>
    <ion-label position="stacked">
      {{ 'pages.editRecipe.input.notes' | translate }}
    </ion-label>

    <div class="controls">
      <ion-button
        [fill]="editor.isActive('bold') ? 'solid' : 'clear'"
        size="small"
        (click)="actionBold($event)"
      >
        Bold
      </ion-button>
      <ion-button
        [fill]="editor.isActive('italic') ? 'solid' : 'clear'"
        size="small"
        (click)="actionItalic($event)"
      >
        Italic
      </ion-button>
      <ion-button
        fill="clear"
        size="small"
        (click)="actionRecipe($event)"
      >
        Recipe
      </ion-button>
      <ion-button
        fill="clear"
        size="small"
        (click)="actionLink($event)"
      >
        Link
      </ion-button>
    </div>

    <tiptap-editor
      [editor]="editor"
      [(ngModel)]="tiptapHtml"
      (ngModelChange)="editorChange()"
    ></tiptap-editor>
  </ion-item>
</div>
