<ion-header>
  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item class="thread" *ngFor="let thread of threads" (click)="openThread(thread)">
      <ion-icon name="chatboxes" item-start></ion-icon>
      <h2>{{ thread.otherUser.name || thread.otherUser.email }}</h2>
      <p><b>{{ thread.messages[0].fromUser.id === thread.otherUser.id ? thread.messages[0].fromUser.name || thread.messages[0].fromUser.email : 'You' }}</b>: {{ thread.messages[0].recipe ? 'Sent a recipe' : thread.messages[0].body }}</p>
    </ion-item>
    <ion-item *ngIf="threads.length === 0" class="ion-text-wrap ion-text-center">
      <br /><br />
      <ion-icon name="chatboxes" class="big-icon"></ion-icon>
      <br /><br />
      <p>
        You have no message threads.
        <br /> To start a conversation with someone, press the plus button in the bottom corner.
      </p>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button (click)="newThread()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-footer *ngIf="isNotificationsCapable() && !isNotificationsEnabled()" class="ion-text-center ion-padding">
    <b class="notificationWarning">Warning:</b>
    Notifications must be enabled for messaging to work properly.<br />
    <a href="https://support.google.com/chrome/answer/114662?visit_id=1-636632909352922358-846594632&rd=1" target="_blank">See how to re-enable notifications here</a>
  </ion-footer>
</ion-content>
