.infinite-scrolling-container {
  height: 100%;
  overflow-y: auto;
}

.recipe-image {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.recipe-card {
  height: 300px;
  //width: 200px;
  overflow: hidden;
}

.labelChips {
  display: flex;
  flex-wrap: wrap;
  padding: 2px 4px 8px;

  a {
    color: var(--ion-text-color);
    padding: 6px 12px;
    border: 1px solid;
    border-color: var(--ion-border-color);
    border-radius: 20px;
    margin: 2px 4px;
    cursor: pointer;
    transition: box-shadow 0.1s ease-in-out;

    &:hover {
      background-color: var(--ion-item-background-hover,rgba(var(--ion-text-color-rgb,0,0,0),0.04)); // Pulled from ion-item button hover
    }

    &.selected {
      border-color: var(--ion-color-primary);
      background-color: var(--ion-color-primary);
      color: var(--ion-color-light);
    }
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 20px;
  padding-right: 20px;

  ion-card {
    width: 200px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.25);

    &:hover {
      background-color: var(--ion-item-background-hover);
    }

    ion-card-content {
      padding: 0;

      .no-image {
        display: flex;

        img {
          margin-top: 50px;
          margin-bottom: 50px;
          width: 100px;
          height: 100px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    ion-thumbnail {
      width: 200px;
      height: 200px;
    }

    ion-badge {
      position: absolute;
      top: 10px;
      right: 10px;
      box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    }
  }
}
