.homegrid {
  display: grid;
  grid-template-rows: 58px auto;
  height: 100%;

  .infinite-scrolling-container {
    overflow-y: scroll;
  }
}

.labelChips {
  display: flex;
  flex-wrap: wrap;
  padding: 2px 4px 8px;

  a {
    color: var(--ion-text-color);
    padding: 6px 12px;
    border: 1px solid;
    border-color: var(--ion-border-color);
    border-radius: 20px;
    margin: 2px 4px;
    cursor: pointer;
    transition: box-shadow 0.1s ease-in-out;

    &:hover {
      background-color: var(--ion-item-background-hover,rgba(var(--ion-text-color-rgb,0,0,0),0.04)); // Pulled from ion-item button hover
    }

    &.selected {
      border-color: var(--ion-color-primary);
      background-color: var(--ion-color-primary);
      color: var(--ion-color-light);
    }
  }
}

.recipe-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;

  .recipe-card {
    position: relative;
    width: 200px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.25);

    &:hover {
      background-color: var(--ion-item-background-hover);
    }

    img {
      width: 200px;
      height: 200px;
      border-radius: 5px 5px 0px 0px;
    }

    ion-badge {
      position: absolute;
      top: 10px;
      right: 10px;
      box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    }
  }
}

