.page-wrapper {
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.icon-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--ion-color-light);

  ion-icon {
    font-size: 24px;
    color: var(--ion-color-medium);
  }
}
