<ion-header>

  <ion-toolbar>
    <ion-title>
      {{ 'pages.addFriend.title' | translate }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
  <select-user (selectedUserChange)="onSelectedUserChange($event)"></select-user>
  <ion-item>
    <ion-label>
      <p>
        {{ 'pages.addFriend.profileWarning' | translate }}
      </p>
    </ion-label>
  </ion-item>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" (click)="send()" [disabled]="!recipientId">
    <ion-icon name="send" slot="start"></ion-icon>
    <ion-label>
      {{ 'pages.addFriend.send' | translate }}
    </ion-label>
  </ion-button>
  <ion-button expand="block" (click)="open()" [disabled]="!recipientId">
    <ion-icon name="open" slot="start"></ion-icon>
    <ion-label>
      {{ 'pages.addFriend.open' | translate }}
    </ion-label>
  </ion-button>
</ion-footer>
