// http://ionicframework.com/docs/theming/
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "print.scss";

:root {
  --ion-safe-area-top: var(
    --safe-area-inset-top,
    env(safe-area-inset-top, 0px)
  );
  --ion-safe-area-bottom: var(
    --safe-area-inset-bottom,
    env(safe-area-inset-bottom, 0px)
  );
  --ion-safe-area-left: var(
    --safe-area-inset-left,
    env(safe-area-inset-left, 0px)
  );
  --ion-safe-area-right: var(
    --safe-area-inset-right,
    env(safe-area-inset-right, 0px)
  );
}

ion-fab[vertical="bottom"] {
  margin-bottom: var(--ion-safe-area-bottom, 0);
}

ion-fab[vertical="top"] {
  margin-top: var(--ion-safe-area-top, 0);
}
