<ion-header>
  <ion-navbar color="navBar">

    <button *ngIf="selectedRecipeIds.length == 0" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons *ngIf="selectedRecipeIds.length > 0" left>
      <button ion-button icon-only (click)="clearSelectedRecipes()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title *ngIf="selectedRecipeIds.length == 0">{{ folderTitle }}</ion-title>
    <ion-title *ngIf="selectedRecipeIds.length > 0">{{ selectedRecipeIds.length }} Selected</ion-title>

    <ion-buttons end>
      <button *ngIf="selectedRecipeIds.length > 0 && folder === 'main'" ion-button icon-only (click)="addLabelToSelectedRecipes()">
        <ion-icon name="pricetag"></ion-icon>
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button *ngIf="selectedRecipeIds.length > 0" ion-button icon-only (click)="deleteSelectedRecipes()">
        <ion-icon name="trash"></ion-icon>
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #contentContainer>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar
    *ngIf="folder === 'main'"
    (ionClear)="search('')"
    (keyup.enter)="search($event.target.value); $event.target.blur()"
  ></ion-searchbar>

  <div class="labelChips" *ngIf="viewOptions.showLabelChips && folder === 'main' && labels.length > 0">
    <a
      *ngFor="let label of labels"
      [ngClass]="{ selected: viewOptions.selectedLabels.indexOf(label.title) > -1 }"
      (click)="toggleLabel(label.title)">
      {{ label.title }} ({{ label.recipeCount }})
    </a>
  </div>

  <virtual-scroller
  #scroll
  (vsEnd)="fetchMoreRecipes($event)"
  [items]="recipes"
  [parentScroll]="contentContainer.getScrollElement()"
  [enableUnequalChildrenSizes]="true">

    <div #container>
      <ion-item
        *ngFor="let recipe of scroll.viewPortItems; trackBy: trackByFn"
        class="recipeItem"
        [ngClass]="{ selected: selectedRecipeIds.indexOf(recipe.id) > -1 }"
        (tap)="selectedRecipeIds.length > 0 ? selectRecipe(recipe) : openRecipe(recipe, $event)"
        (press)="selectRecipe(recipe)">
        <ion-thumbnail *ngIf="recipe.image && viewOptions.showImages" item-start>
          <img [src]="recipe.image.location" />
        </ion-thumbnail>

        <h2 text-wrap>{{ recipe.title }}</h2>
        <p text-wrap>{{ recipe.description }}</p>
        <p *ngIf="(recipe.source || recipe.url) && viewOptions.showSource" text-wrap>Source: {{ recipe.source || recipe.url }}</p>

        <p *ngIf="recipe.folder === 'inbox' && recipe.fromUser">
          <b>From: {{ recipe.fromUser.name || recipe.fromUser.email }}</b>
        </p>

        <p *ngIf="recipe.labels && recipe.labels.length > 0 && viewOptions.showLabels" text-wrap>
          Labels: <span *ngFor="let label of recipe.labels; let idx = index">{{ label.title }}<span *ngIf='idx+1 < recipe.labels.length'>,</span> </span>
        </p>
      </ion-item>
    </div>
  </virtual-scroller>

  <ion-list *ngIf="!loading">
    <ion-item *ngIf="folder === 'main' && (!recipes || recipes.length === 0) && searchText.length === 0 && totalRecipeCount == 0 && viewOptions.selectedLabels.length === 0" no-lines text-wrap text-center>
      <br /><br />
      <logo-icon href="/#/about"></logo-icon>
      <br /><br />
      <h2>Welcome to Recipe Sage!</h2>
      <br /><br />
      <p>
        This is where your recipes will appear.<br />
        It looks like you don't have any recipes yet.<br />
        <b>Click the + button in the bottom right corner to add one!</b><br />

        <br /><br />

        You can also import recipes!<br />
        Use the side menu to go to settings -> import
      </p>
    </ion-item>

    <ion-item *ngIf="folder === 'inbox' && (!recipes || recipes.length === 0) && searchText.length === 0 && totalRecipeCount == 0" no-lines text-wrap text-center>
      <br /><br />
      <ion-icon name="mail-open" class="big-icon"></ion-icon>
      <br /><br />
      <p>
        Your recipe inbox is empty.<br />
        When someone sends you a recipe, it will show up here!
      </p>
    </ion-item>

    <ion-item *ngIf="recipes && recipes.length === 0 && searchText.length > 0" no-lines text-wrap text-center>
      <p>
        No search results.<br /><br />
        Search includes:<br />
        Title, description, source, ingredients, instructions, and notes.
      </p>
    </ion-item>
  </ion-list>

  <ion-fab *ngIf="folder !== 'inbox'" right bottom>
    <button (click)="newRecipe()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
