<ion-header>
  <ion-navbar color="navBar">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title *ngIf="selectedRecipeIds.length == 0">{{ folderTitle }}</ion-title>

    <ion-buttons end>
      <button *ngIf="selectedRecipeIds.length > 0" ion-button icon-only (click)="addLabelToSelectedRecipes()">
        <ion-icon name="pricetag"></ion-icon>
        <ion-badge color="primary">{{ selectedRecipeIds.length }}</ion-badge>
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button *ngIf="selectedRecipeIds.length > 0" ion-button icon-only (click)="deleteSelectedRecipes()">
        <ion-icon name="trash"></ion-icon>
        <ion-badge color="primary">{{ selectedRecipeIds.length }}</ion-badge>
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button *ngIf="selectedRecipeIds.length > 0" ion-button icon-only (click)="clearSelectedRecipes()">
        <ion-icon name="close"></ion-icon>
        <ion-badge color="primary">{{ selectedRecipeIds.length }}</ion-badge>
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #contentContainer>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <virtual-scroller
    #scroll
    [items]="recipes | basicFilter:viewOptions.selectedLabels.join() + viewOptions.sortBy + searchText:filterOptions"
    [parentScroll]="contentContainer.getScrollElement()"
    [enableUnequalChildrenSizes]="true">

    <ion-searchbar (ionInput)="search($event.target.value)" (keyup.enter)="$event.target.blur()"></ion-searchbar>

    <div #container>
      <ion-item
        *ngFor="let recipe of scroll.viewPortItems; trackBy: trackByFn"
        class="recipeItem"
        [ngClass]="{ selected: selectedRecipeIds.indexOf(recipe.id) > -1 }"
        (tap)="selectedRecipeIds.length > 0 ? selectRecipe(recipe) : openRecipe(recipe)"
        (press)="selectRecipe(recipe)">
        <ion-thumbnail *ngIf="recipe.image && viewOptions.showImages" item-start>
          <img [src]="recipe.image.location" />
        </ion-thumbnail>

        <h2 text-wrap>{{ recipe.title }}</h2>
        <p text-wrap>{{ recipe.description }}</p>
        <p *ngIf="(recipe.source || recipe.url) && viewOptions.showSource" text-wrap>Source: {{ recipe.source || recipe.url }}</p>

        <p *ngIf="recipe.folder === 'inbox' && recipe.fromUser">
          <b>From: {{ recipe.fromUser.name || recipe.fromUser.email }}</b>
        </p>

        <p *ngIf="recipe.labels && recipe.labels.length > 0 && viewOptions.showLabels" text-wrap>
          Labels: <span *ngFor="let label of recipe.labels; let idx = index">{{ label.title }}<span *ngIf='idx+1 < recipe.labels.length'>,</span> </span>
        </p>
      </ion-item>
    </div>
  </virtual-scroller>

  <ion-list *ngIf="initialLoadComplete">
    <ion-item *ngIf="folder === 'main' && (!recipes || recipes.length === 0) && searchText.length === 0" no-lines text-wrap text-center>
      <br /><br />
      <logo-icon href="/#/about"></logo-icon>
      <br /><br />
      <h2>Welcome to Recipe Sage!</h2>
      <br /><br />
      <p>
        This is where your recipes will appear.<br />
        It looks like you don't have any recipes yet.<br />
        <b>Click the + button in the bottom right corner to add one!</b><br />

        <br /><br />

        You can also import recipes!<br />
        Use the side menu to go to settings -> import
      </p>
    </ion-item>

    <ion-item *ngIf="folder === 'inbox' && (!recipes || recipes.length === 0) && searchText.length === 0" no-lines text-wrap text-center>
      <p>
        Your inbox is empty.<br />
        When someone sends you a recipe, it will show up here!
      </p>
    </ion-item>

    <ion-item *ngIf="searchResultsAfterFilterLen === 0 && searchText.length > 0" no-lines text-wrap text-center>
      <p>
        No search results.<br /><br />
        Search includes:<br />
        Title, description, source, ingredients, instructions, notes, and labels.
      </p>
    </ion-item>
  </ion-list>

  <ion-fab *ngIf="folder !== 'inbox'" right bottom>
    <button (click)="newRecipe()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
