page-home {
  .labelChips {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 4px;

    span {
      padding: 6px 12px;
      background: rgba(0,0,0,0.1);
      border-radius: 20px;
      margin: 2px 4px;

      &.selected {
        background: #00a8ff;
      }
    }
  }

  .recipeItem {
    cursor: pointer;
  }

  .selected {
    background-color: rgb(220,220,220);
  }
}
