<div>
  <ion-item class="selectedUser"
    (click)="clearSelectedUser()"
    *ngIf="selectedUser"
    button>
    <!-- <ion-avatar *ngIf="selectedRecipe.images && selectedRecipe.images.length > 0" slot="start">
      <img src="{{ selectedRecipe.images[0].location }}">
    </ion-avatar> -->
    <ion-label>
      <h2>{{ selectedUser.name }}</h2>
      <p>
        {{ 'components.selectUser.change' | translate }}
      </p>
    </ion-label>
  </ion-item>

  <div class="dropdownSelect" *ngIf="!selectedUser">
    <ion-searchbar
      (ionChange)='onSearchInputChange($event)'
      placeholder="{{ 'components.selectUser.placeholder' | translate }}"
      autocomplete="off"
      #userInputField
      debounce="0"
      id="userInputField"></ion-searchbar>
    <div
      class="autocomplete">
      <button
        class="suggestion"
        *ngFor="let user of results"
        (click)="selectUser(user)">
        <ion-item class="suggestion-inner" button>
          <!-- <ion-avatar *ngIf="recipe.images && recipe.images.length > 0" slot="start">
            <img src="{{ recipe.images[0].location }}">
          </ion-avatar> -->
          <ion-label>
            <h2>{{ user.name }}</h2>
            <p>
              {{ 'components.selectUser.select' | translate }}
            </p>
          </ion-label>
        </ion-item>
      </button>
      <button
        class="suggestion"
        *ngIf="searching">
        <ion-item class="suggestion-inner" button>
          <ion-label>
            <h2>
              {{ 'components.selectUser.searching' | translate:{name:searchText} }}
            </h2>
          </ion-label>
        </ion-item>
      </button>
      <button
        class="suggestion"
        *ngIf="results.length === 0 && searchText.length > 0 && !searching">
        <ion-item class="suggestion-inner" button>
          <ion-label>
            <h2>
              {{ 'components.selectUser.null' | translate:{name:searchText} }}
            </h2>
          </ion-label>
        </ion-item>
      </button>
    </div>
  </div>
</div>
