<ion-header>
  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/recipesage-white-trimmed.png" alt="RecipeSage Logo" style="display:inline-block" height="40px" />
      <!--RecipeSage-->
    </ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <div class="intro-container">
    <div class="intro-fold"></div>

    <div class="intro-fold-dimmer"></div>

    <div class="title">
      <h1>
        All of your recipes in one place
      </h1>

      <p class="subtitle">
        Personal recipe keeper for Web, IOS, and Android
      </p>

      <br />

      <ion-button (click)="goToAuth('register')" style="margin: 0;">
        <ion-icon name="leaf" slot="start"></ion-icon>
        <ion-label>
          Create an account
        </ion-label>
      </ion-button>

      <br />
      <br />

      <ion-button (click)="goToAuth('login')" size="small">
        <ion-icon src="/assets/icon/carrot.svg" slot="start"></ion-icon>
        <ion-label>
          Log In
        </ion-label>
      </ion-button>
    </div>

    <div class="screen">
      <picture>
        <img *ngIf="!isIOS" src="assets/stockphotos/my-recipes-cap-dec-22.jpg" alt="My Recipes Preview">
        <img *ngIf="isIOS" class="ios" src="assets/stockphotos/my-recipes-ios.jpg" alt="My Recipes Preview">
      </picture>
    </div>

    <div class="ion-padding welcomeContent">
      <h2>Welcome to RecipeSage!</h2>

      RecipeSage is free (donation based) personal recipe keeper for Web, IOS, and Android.<br /><br />

      Sync your recipes between all of your devices. Share your recipes, shopping lists, and meal plans with family members. Quickly capture and save recipes from any website with the RecipeSage browser extension.

      <br /><br /><br />

      <span class="sectionHeader">What can RecipeSage do?</span><br />

      <ul>
        <li>Store all of your recipes, sync between all of your devices</li>
        <li>Assign labels to your recipes and filter by label</li>
        <li>Powerful search within your recipe collection</li>
        <li>Send recipes and notes to your friends and family</li>
        <li>Create collaborative shopping lists and meal plans</li>
        <li>Clip recipes directly from the web via the Chrome and Firefox browser add-ons</li>
        <li>Import from Pepperplate, Living Cookbook, and Paprika</li>
        <li>Export your recipes in multiple formats for data portability</li>
      </ul>

      <span class="sectionHeader">Why RecipeSage?</span><br />

      <ul>
        <li>Free (donation based)</li>
        <li>Easy to use</li>
        <li>Available on desktop and all mobile devices</li>
        <li>Chrome and Firefox desktop extensions make it easy to clip recipes from the web</li>
      </ul>

      <br /><br />

      <div class="footer-action">
        <ion-button (click)="goToAuth('register')" style="margin: 0;">
          <ion-icon name="leaf" slot="start"></ion-icon>
          <ion-label>
            Create an account
          </ion-label>
        </ion-button>

        <br /><br />

        <ion-button (click)="goToAuth('login')" size="small">
          <ion-icon src="/assets/icon/carrot.svg" slot="start"></ion-icon>
          <ion-label>
            Log In
          </ion-label>
        </ion-button>
      </div>

      <br /><br /><br /><br /><br />
    </div>
  </div>
</ion-content>
