<ion-header>
  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="isSelfHost">RecipeSage Self Hosted</span>
      <img *ngIf="!isSelfHost" src="assets/recipesage-white-trimmed.png" alt="RecipeSage Logo" style="display:inline-block" height="40px" />
      <!--RecipeSage-->
    </ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <div class="intro-container">
    <div class="intro-fold"></div>

    <div class="intro-fold-dimmer"></div>

    <div class="title">
      <h1 *ngIf="isSelfHost">
        RecipeSage Self Hosted!
      </h1>

      <h1 *ngIf="!isSelfHost">
        All of your recipes in one place
      </h1>

      <p class="subtitle" *ngIf="isSelfHost">
        An unofficial selfhosted version of <a href="https://recipesage.com">RecipeSage</a>, a free recipe keeper, meal planner, and shopping list organizer for Web, IOS, and Android
      </p>

      <p class="subtitle" *ngIf="!isSelfHost">
        A free recipe keeper, meal planner, and shopping list organizer for Web, IOS, and Android
      </p>

      <br />

      <ion-button (click)="goToAuth('register')" style="margin: 0;">
        <ion-icon name="leaf" slot="start"></ion-icon>
        <ion-label>
          Create an account
        </ion-label>
      </ion-button>

      <br />
      <br />

      <ion-button (click)="goToAuth('login')" size="small">
        <ion-icon src="/assets/icon/carrot.svg" slot="start"></ion-icon>
        <ion-label>
          Log In
        </ion-label>
      </ion-button>
    </div>

    <div class="screen">
      <picture>
        <img *ngIf="!isIOS" src="assets/stockphotos/my-recipes-cap-dec-22.jpg" alt="My Recipes Preview">
        <img *ngIf="isIOS" class="ios" src="assets/stockphotos/my-recipes-ios.jpg" alt="My Recipes Preview">
      </picture>
    </div>

    <div class="ion-padding welcomeContent">
      <span class="sectionHeader">Welcome to RecipeSage!</span><br />

      <br />

      RecipeSage is free (donation based) personal recipe keeper, meal planner, and shopping list manager for Web, IOS, and Android.<br /><br />

      Quickly capture and save recipes from any website simply by entering the website URL. Sync your recipes, meal plans, and shopping lists between all of your devices. Share your recipes, shopping lists, and meal plans with family and friends.

      <br /><br /><br />

      <span class="sectionHeader">What can RecipeSage do?</span><br />

      <ul>
        <li><b>Import from any URL:</b> Create a recipe simply by punching in a web URL</li>
        <li><b>Powerful search:</b> Search every field within your recipes including misspellings and similar words</li>
        <li><b>Labelling/categorization system:</b> Tag your recipes and filter by tags</li>
        <li><b>Drag and drop meal planning:</b> Schedule your meals interactively, quickly and easily</li>
        <li><b>Shopping lists:</b> Automatically categorized and intelligently grouped - add your recipes directly to a shopping list and similar items will be combined</li>
        <li><b>Sharing:</b> Share your recipes, collaborate on meal plans and shopping lists with your family or friends</li>
        <li><b>Import:</b> Supports Pepperplate, Living Cookbook, and Paprika</li>
        <li><b>Export:</b> Back up your recipes in multiple formats for data portability</li>
      </ul>

      <span class="sectionHeader">Why RecipeSage?</span><br />

      <ul>
        <li>Free (donation based)</li>
        <li>Easy to use</li>
        <li>Available on desktop and all mobile devices</li>
        <li>Import recipes from any URL</li>
      </ul>

      <br /><br />

      <div class="footer-action">
        <ion-button (click)="goToAuth('register')" style="margin: 0;">
          <ion-icon name="leaf" slot="start"></ion-icon>
          <ion-label>
            Create an account
          </ion-label>
        </ion-button>

        <br /><br />

        <ion-button (click)="goToAuth('login')" size="small">
          <ion-icon src="/assets/icon/carrot.svg" slot="start"></ion-icon>
          <ion-label>
            Log In
          </ion-label>
        </ion-button>
      </div>

      <br /><br /><br /><br /><br />
    </div>
  </div>
</ion-content>
