<ion-header>

  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>About & Support</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <p>Hello! I'm Julian Poyourow. I made Recipe Sage as an alternative to many of the online recipe programs.</p>

  <ion-list>
    <ion-item (click)="goToAboutDetails()" class="cursor-pointer">
      <ion-icon name="person" slot="start"></ion-icon>
      More About Me & Recipe Sage
    </ion-item>
    <ion-item (click)="goToContribute()" class="cursor-pointer">
      <ion-icon name="heart" slot="start"></ion-icon>
      Contribute!
    </ion-item>
    <ion-item (click)="goToReleaseNotes()" class="cursor-pointer">
      <ion-icon name="archive" slot="start"></ion-icon>
      Release Notes
    </ion-item>
    <ion-item (click)="goToTipsTricksTutorials()" class="cursor-pointer">
      <ion-icon name="help" slot="start"></ion-icon>
      Tips, tricks and tutorials
    </ion-item>
    <ion-item (click)="goToLegal()" class="cursor-pointer">
      <ion-icon name="list-box" slot="start"></ion-icon>
      Legal, agreements and disclaimers
    </ion-item>
  </ion-list>

  <p>Feel free to email me at <a href="mailto:julian@recipesage.com?subject=RecipeSage Support">julian@recipesage.com</a>.</p>
</ion-content>
