<ion-header>
  <ion-navbar color="navBar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{ list.title }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-list-header *ngIf="list.items.length > 0">
      Items
    </ion-list-header>
    <ion-item *ngFor="let item of list.items; let i = index;">
      <ion-label>
        {{ item.title }}
        <p *ngIf="viewOptions.showAddedOn">
          Added
          <span>{{ formatItemCreationDate(item.created) }}</span>
        </p>
        <p *ngIf="viewOptions.showAddedBy && list.collaborators.length > 0 && item.createdBy">
          <span *ngIf="!viewOptions.showAddedOn">Added </span>by
          <span>{{ item.createdBy.name || item.createdBy.email }}</span>
        </p>
      </ion-label>
      <ion-checkbox [(ngModel)]="item.completed" (ngModelChange)="removeItem(item)"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="list.items.length === 0" text-wrap text-center>
      <p>
        There are no items in this shopping list.
        <br /> To add a new item, press the plus button.
      </p>
    </ion-item>
  </ion-list>

  <br />

  <ion-list *ngIf="recipeIds.length > 0">
    <ion-list-header>
      Recipes in this list
    </ion-list-header>
    <ion-item *ngFor="let recipeId of recipeIds">
      {{ itemsByRecipeId[recipeId][0].recipe.title }}
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button (click)="newShoppingListItem()" ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
