.mealTitle {
  text-transform: capitalize;
}

.mealplan-flex {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex-grow: 1;
    width: 50%;
  }

  > .meal-list {
    padding-bottom: 4rem;
  }

  @media screen and (max-width:900px) {
    > * {
      width: 100%;
    }
  }
}

