<ion-header>
  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
    </ion-buttons>

    <ion-title>Meal Plan - {{ mealPlan.title }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon name="options" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <br />

  <div class="mealplan-flex">
    <meal-calendar
      [mealPlan]="mealPlan"
      [viewOptions]="viewOptions"
      (selectedDayChange)="selectedDay = $event"
      (selectedMealGroupChange)="selectedMealGroup = $event"></meal-calendar>

    <ion-list class="meal-list" lines="none" class="ion-padding">
      <ion-item lines="none">
        <ion-label class="ion-text-center ion-no-padding">
          Meals & Items:
        </ion-label>
      </ion-item>

      <ion-item *ngIf="selectedMealGroup.length === 0 && initialLoadComplete">
        <ion-label class="ion-text-wrap ion-text-center">
          <br />
          <br />
          <br />
          <p>
            There are no meals scheduled for this day.
            <br />
            <ion-button (click)="newMealPlanItem()">
              <ion-icon name="add" slot="start"></ion-icon>
              <ion-label>
                Add a meal
              </ion-label>
            </ion-button>
          </p>
        </ion-label>
      </ion-item>

      <div *ngFor="let mealItem of selectedMealGroup; let idx = index;">
        <ion-item-divider class="mealTitle" *ngIf="idx === 0 || selectedMealGroup[idx - 1].meal !== mealItem.meal">
          {{mealItem.meal}}
        </ion-item-divider>
        <ion-item (click)="mealItem.recipe && openRecipe(mealItem.recipe)" class="ion-text-wrap" [ngClass]="{ 'cursor-pointer': mealItem.recipe }">
          <ion-label class="ion-text-wrap">
            {{mealItem.title}}

            <p *ngIf="viewOptions.showAddedOn">
              Added
              <span>{{ formatItemCreationDate(mealItem.createdAt) }}</span>
            </p>
            <p *ngIf="viewOptions.showAddedBy && mealPlan.collaborators.length > 0 && mealItem.owner">
              <span *ngIf="!viewOptions.showAddedOn">Added </span>by
              <span>{{ mealItem.owner.name || mealItem.owner.email }}</span>
            </p>
          </ion-label>

          <!-- Remove from cart button: -->
          <ion-button
            slot="end"
            fill="none"
            class="ion-margin-start"
            *ngIf="mealItem.recipe && mealItem.shoppingListItems.length > 0"
            (click)="$event.stopPropagation(); removeMealPlanItemFromShoppingList(mealItem)">
            <ion-icon name="cart" slot="icon-only"></ion-icon>
          </ion-button>
          <!-- Add to cart button: -->
          <ion-button
            slot="end"
            fill="none"
            class="ion-margin-start"
            *ngIf="mealItem.recipe && mealItem.shoppingListItems.length === 0"
            (click)="$event.stopPropagation(); addMealPlanItemToShoppingList(mealItem)">
            <ion-icon name="cart" slot="icon-only"></ion-icon>
          </ion-button>
          <!-- Remove from meal plan button: -->
          <ion-button
            slot="end"
            fill="none"
            class="ion-margin-start"
            (click)="$event.stopPropagation(); removeItem(mealItem)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </ion-list>
  </div>

  <br />

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newMealPlanItem()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
