<ion-header>
  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Shopping Lists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list lines="none">
    <ion-item class="shoppingList ion-text-wrap cursor-pointer" *ngFor="let shoppingList of shoppingLists" (click)="openShoppingList(shoppingList.id)">
      <ion-icon name="list" slot="start"></ion-icon>
      <ion-label>
        <h2>{{ shoppingList.title }}</h2>
        <p>
          Created {{ formatItemCreationDate(shoppingList.createdAt) }}
        </p>
        <p *ngIf="shoppingList.collaborators.length > 0">
          In collaboration with:
          <span *ngFor="let user of shoppingList.collaborators">
            <span *ngIf="shoppingList.myUserId !== user.id">{{ user.name || user.email }}</span>
          </span>
          <span *ngIf="shoppingList.myUserId !== shoppingList.owner.id">{{ shoppingList.owner.name || shoppingList.owner.email }}</span>
        </p>
        <p>
          <span *ngIf="shoppingList.myUserId !== shoppingList.owner.id">Created by {{ shoppingList.owner.name || shoppingList.owner.email }}</span>
          <span *ngIf="shoppingList.myUserId === shoppingList.owner.id">You own this list</span>
        </p>
      </ion-label>
      <ion-badge slot="end">{{ shoppingList.itemCount }}</ion-badge>
    </ion-item>
    <ion-grid *ngIf="shoppingLists.length === 0 && initialLoadComplete" class="ion-text-wrap ion-text-center">
      <br /><br />
      <ion-row justify-content-center>
        <ion-icon name="cart" class="big-icon"></ion-icon>
      </ion-row>
      <ion-row justify-content-around class="ion-text-center ion-text-wrap ion-margin-top">
        <ion-label>
          <p>
            You have no shopping lists.
            <br /> To create a shopping list, press the plus button in the bottom corner.
          </p>
        </ion-label>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newShoppingList()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
