<div>
  <div class='dropdownSelect'>
    <h6>
      Collaborators
    </h6>

    <div class="labels">
      <span class="label" *ngFor="let userId of selectedThreads">
        <ion-icon class="delete-label" (click)="removeCollaborator(userId)" name="trash" item-start></ion-icon>
        {{ threadsByUserId[userId].name || threadsByUserId[userId].email }}
      </span>
    </div>

    <input
      [(ngModel)]='pendingThread'
      (ngModelChange)='autofillUserName()'
      (focus)='toggleAutocomplete(true)'
      (focusout)='toggleAutocomplete(false, $event)'
      (blur)='toggleAutocomplete(false, $event)'
      (keyup.enter)="onAddCollaboratorEnter($event);"
      placeholder="Add collaborators by email address"
      autocomplete="off"
      #labelInputField
      id="labelInputField" />
    <div class="autocomplete" (focusout)='toggleAutocomplete(false, $event)' *ngIf="showAutocomplete">
      <button class="suggestion" *ngIf="pendingThread && pendingThread.length > 0 && selectedThreads.indexOf(pendingCollaboratorId) > -1">
        <ion-item>
          {{ pendingThread }}
          <span class="hint">Already added</span>
        </ion-item>
      </button>
      <button class="suggestion" *ngFor="let thread of existingThreads | shoppingListCollaboratorFilter:pendingThread+selectedThreads.join()+pendingCollaboratorId:pendingThread:selectedThreads"
        (click)="addCollaborator(thread.id)">
        <ion-item>
          {{ threadsByUserId[thread.id].name || threadsByUserId[thread.id].email }}
          <span class="hint">Click to add</span>
        </ion-item>
      </button>
      <!-- Searching for user for which a thread does not exist -->
      <button class="suggestion" *ngIf="searchingForRecipient">
        <ion-item>
          {{ pendingThread }}
          <span class="hint">Searching...</span>
        </ion-item>
      </button>
      <!-- Searching for user for which a thread does not exist -->
      <button class="suggestion" *ngIf="pendingThread && !searchingForRecipient && !pendingCollaboratorId">
        <ion-item>
          {{ pendingThread }}
          <span class="hint">Not found</span>
        </ion-item>
      </button>
    </div>
  </div>
</div>
