<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <select-recipe [selectedRecipe]="selectedRecipe" (selectedRecipeChange)="recipe = $event"></select-recipe>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" (click)="done()" [disabled]="!recipe">
    <ion-icon name="checkmark" slot="start"></ion-icon>
    <ion-label>
      {{ 'generic.okay' | translate }}
    </ion-label>
  </ion-button>
  <ion-button expand="block" (click)="cancel()">
    <ion-icon name="close" slot="start"></ion-icon>
    <ion-label>
      {{ 'generic.cancel' | translate }}
    </ion-label>
  </ion-button>
</ion-footer>

