<ion-header>

  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'pages.importPaprika.title' | translate }}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-item lines="none">
    <ion-label class="ion-text-center ion-text-wrap">
      <br /><br />
      <p>
        {{ 'pages.importPaprika.description1' | translate }}<br />
        {{ 'pages.importPaprika.description2' | translate }}
      </p>
      <br />
      <p>
        <b>
          {{ 'pages.importPaprika.description3' | translate }}
        </b><br />
        {{ 'pages.importPaprika.description4' | translate }}<br />
      </p>
      <br />
      <p>
        {{ 'pages.importPaprika.description5' | translate }}<br />
        {{ 'pages.importPaprika.description6' | translate }}
      </p>
      <br />
      <br />
      <p>
        {{ 'pages.importPaprika.description7' | translate }}
      </p>
    </ion-label>
  </ion-item>

  <br />

  <div class="ion-text-center ion-padding">
    <input id="filePicker" type="file" (change)="setFile($event)" style="display: none;" accept=".paprikarecipes" />
    <ion-button fill="outline" (click)="filePicker()">
      <span *ngIf="imageFile">
        {{ 'pages.importPaprika.filePicker.file' | translate:{fileName:imageFile.name} }}
      </span>
      <span *ngIf="!imageFile">
        {{ 'pages.importPaprika.filePicker.noFile' | translate }}
      </span>
    </ion-button>

    <div class="ion-padding" *ngIf="showFileTypeWarning()">
      <p>
        {{ 'pages.importPaprika.description8' | translate }}<br />
        {{ 'pages.importPaprika.description9' | translate }}
      </p>
    </div>

    <div class="ion-padding" *ngIf="isFileTooLarge()">
      <p>
        <b>{{ 'pages.importLivingCookbook.step2.sizeError' | translate }}</b><br />
        <a href="mailto:julian@recipesage.com?subject=RecipeSage Support">
          {{ 'pages.importLivingCookbook.step2.sizeError.contact' | translate }}
        </a>
      </p>
    </div>

    <div class="ion-padding" *ngIf="imageFile && !isFileTooLarge()">
      <ion-button *ngIf="!loading && !showFileTypeWarning()" (click)="submit()">
        {{ 'pages.importLivingCookbook.step3.upload' | translate }}
      </ion-button>
      <ion-button *ngIf="!loading && showFileTypeWarning()" (click)="submit()">
        {{ 'pages.importLivingCookbook.step3.upload.ignoreWarning' | translate }}
      </ion-button>
      <ion-button *ngIf="loading">
        {{ 'pages.importLivingCookbook.step3.loading' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>
