page-recipe {
  .pre {
    white-space: pre;
  }
  
  .item-md.item-block.fixPaperPush .item-inner {
    margin-left: 20px;
  }
  
  .ingredients {
    ion-label {
      margin: 0;
    }
    
    .scale {
      cursor: pointer;
    }
  }
  
  #labelSelectParent {
    padding-left: 16px;
    padding-right: 16px;
    
    .labels {
      margin-bottom: 5px;

      .label {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border-radius: 2px;
        margin-right: 7px;
        padding: 8px;
        line-height: 37px;
        
        ion-icon {
          margin-right: 4px;
          vertical-align: middle;
        }
      }
    }
    
    input {
      border: none;
      border-bottom: 1px solid lightgrey;
      padding: 7px;
      
      width: 100%;
      max-width: 600px;
    }
    
    .autocomplete {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      max-width: 600px;
      max-height: 100px;
      overflow-y: auto;

      button.suggestion {
        display: block;
        padding: 8px;
        background-color: white;
        width: 100%;
        text-align: left;
        
        &:hover {
          background-color: #00a8ff;
        }
        
        &:focus {
          background-color: #00a8ff;
        }
        
        .hint {
          float: right;
        }
      }
    }
  }
}
