page-recipe {
  .pre {
    white-space: pre;
  }
  
  .item-md.item-block.fixPaperPush .item-inner {
    margin-left: 20px;
  }
  
  .ingredients {
    ion-label {
      margin: 0;
    }
  }
  
  .labels {
    
    ion-label {
      margin: 0;
    }
    
    .delete-label {
      cursor: pointer;
    }
  }
  
  #labelSelectParent {
    padding-left: 16px;
    padding-right: 16px;
    
    tag-input {
      max-width: 600px;

      .ng2-tag-input {
        .ng2-tags-container {
          tag-input-form {
            margin-top: 3px;
            width: 100%;
            
            form {
              width: 100%;
        
              input {
                width: 100%;
              }
            }
          }

          tag {
            background-color: white;
            border: none;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            border-radius: 2px;
            margin-right: 7px;
            
            .tag__text {
              color: #444;
            }
            
            delete-icon {
              path {
                fill: #444;
              }
            }
          }
        }
      }
    }
  }
}

ng2-menu-item {
  div.ng2-menu-item {
    font-size: 14px !important;
  }
}
