:host {
  all: initial !important;
  contain: content;
}

.rs-autoSnipPendingContainer {
  z-index: 99999999999999999999999999 !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.4);
}

.rs-autoSnipPendingContainer .autoSnipPending {
  padding: 20px;
  background-color: #00a8ff;
  color: white;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
}

.rs-chrome-container {
  position: fixed;
  right: 10px;
  top: 20%;
  width: 300px;
  padding: 10px;

  z-index: 9999999999999999999999999 !important;
  background: white;
  box-shadow: 1px 1px 12px #666666;

  user-select: none;

  font-size: 14px;

  font-family: Arial, Helvetica, sans-serif;

  color: black;
}

@media only screen and (min-width: 1400px) {
  .rs-chrome-container {
    width: 325px;
  }
}

@media only screen and (min-width: 1700px) {
  .rs-chrome-container {
    width: 350px;
  }
}

label {
  display: flex;
}

input,
textarea {
  min-width: 0;
  flex-grow: 1;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: 0.3s;
  background: transparent;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

textarea {
  height: 30px;
  min-height: 16px;
  margin-bottom: 5px;
}

@media only screen and (min-height: 950px) {
  textarea {
    height: 40px;
  }
}

input:focus,
textarea:focus {
  border-bottom: 1px solid #00a8ff;
  outline: none;
}

button {
  height: 32px;
  padding: 0 11px;
  margin: 4px;

  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;

  background: #00a8ff;
  color: white;
  cursor: pointer;

  border: none;
  border-radius: 2px;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

button.icon-button {
  padding: 0 8px;
}

button.clear {
  background: none;
  box-shadow: none;
  color: #00a8ff;
}

button i {
  font-size: 16px;
  vertical-align: bottom;
}

.logo {
  height: 35px;
}

.tip {
  margin-top: 8px;
  margin-bottom: 16px;
  text-align: center;
  font-size: 12px;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline-left {
  display: flex;
  align-self: flex-start;
}

.headline-left > .ion-md-move {
  margin-right: 5px;
  cursor: grab;
}

.save {
  width: 100%;
  margin: 5px 0 0;
}
