<ion-header>

  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
    </ion-buttons>

    <ion-title>More About Me & Recipe Sage</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <p><b>A little about me</b></p>
  <p>I'm a software developer in Long Beach, California.</p>
  <p>I do a lot of work with nonprofits, and I spend a lot of time working on small projects.</p>
  <p>At work, I develop EDU software for document annotation.</p>

  <br />
  <p><b>Why create Recipe Sage?</b></p>
  <p>I created Recipe Sage to host recipes for me and my family. After trying multiple recipe programs online, I felt it would be best to create a recipe program that worked exactly as I wanted it to.</p>
  <p>I'm a believer in freeware, and I was determined that Recipe Sage should be free. Please, feel free to suggest new features and improvements. I want Recipe Sage to grow and improve.</p>
  <p>If you'd like to donate to support development, I'd really appreciate it. It costs money to run the servers, and I'd love help!</p>
</ion-content>
