<div>
  <div class="calendar-nav">
    <ion-button
      class="previous"
      fill="clear"
      (click)="moveCalendar(-1)">
      <ion-icon name="caret-back" slot="icon-only"></ion-icon>
    </ion-button>
    <span>{{ calendarTitle() }}</span>
    <ion-button
      class="next"
      fill="clear"
      (click)="moveCalendar(1)">
      <ion-icon name="caret-forward" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <ion-grid class="calendar">
    <ion-row class="week-title">
      <ion-col class="day-title" *ngFor="let day of dayTitles">
        {{day}}
      </ion-col>
    </ion-row>
    <ion-row class="week" *ngFor="let weekOfMonth of weeksOfMonth">
      <ion-col class="day" *ngFor="let day of weekOfMonth" (click)="selectedDay = day" (keyup.enter)="selectedDay = day"
        [ngClass]="{
            'selected': selectedDay && selectedDay.year() === day.year() && selectedDay.month() === day.month() && selectedDay.date() === day.date(),
            'today'   : today.getFullYear() === day.year() && today.getMonth() === day.month() && today.getDate() === day.date()
          }" tabindex="0">
        <div class="date" [ngClass]="{
          'selected': selectedDay && selectedDay.year() === day.year() && selectedDay.month() === day.month() && selectedDay.date() === day.date(),
          'inactive': center.getMonth() !== day.month(),
          'today'   : today.getFullYear() === day.year() && today.getMonth() === day.month() && today.getDate() === day.date()
        }">
          {{day.date()}}
        </div>
        <div class="meal-group" *ngFor="let mealName of mealItemsByDay(day).meals">
          <span class="meal-title" *ngIf="true">{{ mealName }}</span><br />
          <calendar-item *ngFor="let mealItem of mealItemsByDay(day).items[mealName]" [mealItem]="mealItem"></calendar-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
