.calendar-nav {
  text-align: center;
  line-height: 44px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  .week {
    .day {
      border: 1px solid;
      border-color: var(--ion-border-color);
      min-height: 80px;
      cursor: pointer;
      outline: none;

      &:hover {
        background: var(--ion-border-color);
      }

      &.selected {
        background: var(--ion-border-color);
      }

      .date {
        border-radius: 45px;
        display: inline-block;
        text-align: center;

        margin-bottom: 5px;

        padding: 5px;
        height: 28px;
        width: 28px;
        line-height: 18px;

        word-wrap: normal;

        &.inactive {
          color: var(--ion-color-medium);
        }

        &.today {
          background: var(--ion-color-primary);
          color: var(--ion-color-light);
        }
      }

      .meal-group {
        .meal-title {
          text-transform: capitalize;
          font-weight: bold;
        }

        calendar-item {
          display: block;
          margin-top: 5px;
          margin-bottom: 5px;

          background-color: var(--ion-color-primary);
          border-radius: 4px;
          padding: 3px 6px;
        }
      }
    }
  }
}
