.mealplan-flex {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex-grow: 1;
    width: 50%;
  }

  > .meal-list {
    padding-bottom: 4rem;
  }

  @media screen and (max-width:900px) {
    > * {
      width: 100%;
    }
  }
}

.calendar-nav {
  text-align: center;
  line-height: 44px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  .day-title {
    text-align: center;
  }

  &.full {
    .week {
      .day {
        border: 1px solid;
        border-color: var(--ion-border-color);
        min-height: 80px;
        cursor: pointer;
        outline: none;
        overflow: hidden; // Force same-size columns
        transition: background-color 0.1s;

        &:hover {
          background-color: rgba(0,0,0,0.017);
        }

        &.selected {
          background-color: var(--ion-border-color);
        }

        &.highlighted {
          background-color: rgba(var(--ion-color-primary-rgb), 0.2);
        }

        .date {
          border-radius: 45px;
          display: inline-block;
          text-align: center;

          margin-bottom: 5px;

          height: 28px;
          width: 28px;
          line-height: 28px;
          padding-left: 1px; // Align center but slightly right within bubble

          word-wrap: normal;

          &.inactive {
            color: var(--ion-color-medium);
          }

          &.today {
            background: var(--ion-color-primary);
            color: var(--ion-color-light);
          }
        }
      }
    }
  }

  &.split, &.outline {
    .week {
      .day {
        text-align: center;
        cursor: pointer;
        outline: none;

        .date {
          border-radius: 45px;
          display: inline-block;
          text-align: center;

          margin-bottom: 2px;

          height: 28px;
          width: 28px;
          line-height: 28px;
          padding-left: 1px; // Align center but slightly right within bubble

          word-wrap: normal;

          &.inactive {
            color: var(--ion-color-medium);
          }

          &.today {
            color: var(--ion-color-primary);
          }

          &.selected {
            background: var(--ion-color-primary);
            color: var(--ion-color-light);
          }
        }

        .meal-marker-container {
          line-height: 0;

          .meal-marker {
            width: 5px;
            height: 5px;
            margin: 2px;
            margin-top: 0;
            border-radius: 50%;
            background: var(--ion-color-primary);
            display: inline-block;
          }
        }
      }
    }
  }
}
