page-import-livingcookbook {
  .description {
    text-align: center;
  }

  .actions {
    text-align: center;
  }

  .option {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
