.edit-contents-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.miniflex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-left: -10px;
  margin-right: -10px;

  > * {
    flex: 1 1 30%;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 260px;
  }
}

.rating {
  padding-top: 8px;
  padding-bottom: 11px;
  font-size: 0.75rem;
  background: var(--ion-item-background);

  .rating-title {
    margin-left: 16px;
    margin-bottom: 3px;
  }

  rating {
    margin-left: 16px;
    font-size: 1.375rem;
  }
}

.label-input-group-container {
  padding: 16px;
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), auto));
  background: var(--ion-item-background);
  margin-bottom: 100px;
}
