<ion-header>

  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
    </ion-buttons>

    <ion-title>Contact Me</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding">
  <p><b>Contact Info</b></p>

  <p>Feel free to shoot me an email at <a href="mailto:julian@recipesage.com?subject=RecipeSage Support">julian@recipesage.com</a></p>
  <p>My personal website is <a target="_blank" href="https://julianpoyourow.com">julianpoyourow.com</a></p>

  <br />
  <p><b>Social Media</b></p>
  <social-links></social-links>
</ion-content>
