<ion-header>
  <ion-navbar>
    <ion-title>New Message Thread</ion-title>
    
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows, core"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>Email</ion-label>
      <ion-input type="text" value="" [(ngModel)]="recipientEmail" (ngModelChange)='autofillUserName()'></ion-input>
    </ion-item>
    
    <p *ngIf="recipientEmail.length > 0 && !searching" padding-left>
      {{ recipientName ? 'User found: ' + recipientName : "No user found with that email..." }}
    </p>
    <p *ngIf="recipientEmail.length == 0 && !searching" padding-left>
      Enter an email address to search for a user
    </p>
    <p *ngIf="searching" padding-left>
      Searcing for user...
    </p>
    
    <br /><br />

    <ion-item>
      <ion-textarea [(ngModel)]="message" placeholder="Hello! I'd like to chat on RecipeSage"></ion-textarea>
    </ion-item>
    <p padding-left>
      Compose a message
    </p>
  </ion-list>
</ion-content>

<ion-footer padding>
  <button ion-button icon-left block (click)="send()" [disabled]="!recipientId">
    <ion-icon name="send"></ion-icon>
    Send
  </button>
</ion-footer>
