<ion-header>

  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Page Not Found</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding">
  <null-state>
    <ion-icon name="compass" class="big-icon" virtualSlot="header"></ion-icon>
    <ion-label virtualSlot="body">
      <h2>Page Not Found!</h2>
      <br /><br />
      <p>
        It looks like the page you are looking for doesn't exist.<br />
        Check to see if you typed the URL correctly.<br />
        If you're still having trouble, or if somewhere in the app took you here,
        please <a (click)="$event.preventDefault(); goToContact()" href="">contact me</a>.<br />
        <a (click)="$event.preventDefault(); goToHome()" href="">Click here to go to your recipes</a><br />
      </p>
    </ion-label>
  </null-state>
</ion-content>
