.headline {
  font-size: 1.5rem;
}

.card {
  position: relative;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
  --padding: 20px;
  padding: var(--padding);
  margin-top: 50px;

  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-max-width);

  font-size: 0.875rem;

  ::ng-deep .logo-icon {
    --iconSize: 50px;
    margin-top: calc(calc(0 - var(--padding)) - calc(var(--padding) / 2));
    margin-bottom: calc(var(--iconSize) / 2);
    text-align: center;

    .bg {
      display: inline-block;
      border-radius: 100%;
      background: #353b48;
      padding: 6px;
      bottom: middle;
      width: var(--iconSize);
      height: var(--iconSize);
    }
  }

  .donate {
    width: 120px;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    background: var(--ion-color-primary);
    padding: 14px;
    border-radius: 10px;
    color: var(--ion-color-primary-contrast);
    margin: 5px 15px 15px 15px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    font-size: 0.9375rem;
  }
}
