<ion-header>

  <ion-toolbar>
    <ion-title>New meal planner</ion-title>

    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows, core"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Title</ion-label>
    <ion-input [(ngModel)]="mealPlanTitle" type="text" value=""></ion-input>
  </ion-item>

  <br /><br />

  <select-collaborators [(selectedThreads)]="selectedThreads"></select-collaborators>
</ion-content>

<ion-footer padding>
  <button ion-button icon-left block (click)="save()" [disabled]="!mealPlanTitle">
    <ion-icon name="list"></ion-icon>
    Create<span *ngIf="selectedThreads.length > 0">&nbsp;and Share</span>
  </button>
</ion-footer>
