page-welcome {
  .photoHolder {
    height: 200px;
    overflow: hidden;
  }
  
  h2 {
    text-align: center;
  }
  
  .welcomeContent {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
