<ion-header>
  <ion-navbar color="navBar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Meal Plan - {{ mealPlan.title }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <meal-calendar
    [mealPlan]="mealPlan"
    [viewOptions]="viewOptions"
    (selectedDayChange)="selectedDay = $event"
    (selectedMealGroupChange)="selectedMealGroup = $event"></meal-calendar>

  <ion-list no-lines>

    <ion-item *ngIf="selectedMealGroup.length === 0 && initialLoadComplete" text-wrap text-center>
      <br />
      <br />
      <br />
      <p>
        There are no meals scheduled for this day.
        <br />
        <button ion-button icon-left (click)="newMealPlanItem()">
          <ion-icon name="add"></ion-icon>
          Add a meal
        </button>
      </p>
    </ion-item>

    <ion-list-header *ngIf="selectedMealGroup.length > 0" no-lines>
      <b>Meals & Items:</b>
    </ion-list-header>

    <div *ngFor="let mealItem of selectedMealGroup; let idx = index;">
      <ion-item-divider class="mealTitle" *ngIf="idx === 0 || selectedMealGroup[idx - 1].meal !== mealItem.meal">
        {{mealItem.meal}}
      </ion-item-divider>
      <ion-item (click)="mealItem.recipe && openRecipe(mealItem.recipe)" text-wrap>
        <!-- <ion-icon name="leaf" item-start></ion-icon> -->
        {{mealItem.title}}

        <!-- Remove from cart button: -->
        <button
          ion-button
          item-end
          *ngIf="mealItem.recipe && mealItem.shoppingListItems.length > 0"
          (click)="$event.stopPropagation(); removeMealPlanItemFromShoppingList(mealItem)">
          <ion-icon name="cart"></ion-icon>
        </button>
        <!-- Add to cart button: -->
        <button
          ion-button
          item-end
          outline
          *ngIf="mealItem.recipe && mealItem.shoppingListItems.length === 0"
          (click)="$event.stopPropagation(); addMealPlanItemToShoppingList(mealItem)">
          <ion-icon name="cart"></ion-icon>
        </button>
        <!-- Remove from meal plan button: -->
        <button ion-button outline item-end (click)="$event.stopPropagation(); removeItem(mealItem)">
          <ion-icon name="trash"></ion-icon>
        </button>

        <p *ngIf="viewOptions.showAddedOn">
          Added
          <span>{{ formatItemCreationDate(mealItem.createdAt) }}</span>
        </p>
        <p *ngIf="viewOptions.showAddedBy && mealPlan.collaborators.length > 0 && mealItem.owner">
          <span *ngIf="!viewOptions.showAddedOn">Added </span>by
          <span>{{ mealItem.owner.name || mealItem.owner.email }}</span>
        </p>
      </ion-item>
    </div>

    <br />
    <br />
    <br />
  </ion-list>

  <br />

  <ion-fab right bottom>
    <button (click)="newMealPlanItem()" ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
