page-meal-plan {
  .next {
    float: right;
  }

  .calendar-monthname {
    text-align: center;
    line-height: 44px;
    font-weight: bold;
    font-size: 18px;
  }

  .calendar {
    .week {


      .day {
        border: 1px solid black;
        min-height: 80px;
        cursor: pointer;

        &.selected {
          background: #bfe9ff;
        }

        .date {
          border-radius: 45px;
          display: inline-block;
          text-align: center;

          padding: 5px;
          height: 28px;
          width: 28px;
          line-height: 18px;

          &.selected {
            background: #00a8ff;
            color: white;
          }
        }

        .recipe-dot {
          width: 10px;
          height: 10px;
          background: #00a8ff;
          border-radius: 45px;

          display: inline-block;
          margin: 1px;
          vertical-align: middle;
        }
      }
    }
  }

  .mealTitle {
    text-transform: capitalize;
  }
}
