@import "src/theme/shared-variables.scss";

@media only screen and (max-width: $desktop-breakpoint) {
  .metacontainer-desktop {
    display: none;
  }
}

@media only screen and (min-width: $desktop-breakpoint) {
  .metacontainer-mobile {
    display: none;
  }
}

ion-thumbnail {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.pre {
  white-space: pre-wrap;
}

h2.recipeTitle {
  font-size: 1.125rem;
  margin-top: 0 !important;
}

.ingredientsInstructionsGrid {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;

  .ingredientsCol {
    flex-shrink: 0;
    max-width: 100%;
  }

  .instructionsCol {
    min-width: 100%; // Force instructions column to wrap
    flex-grow: 1;

    .instruction {
      max-width: 900px;
    }
  }

  @media (min-width: 576px) {
    flex-wrap: nowrap;

    .instructionsCol {
      min-width: auto; // Allow instructions column to wrap
    }

    .ingredientsCol {
      width: 215px;
    }
  }

  @media (min-width: 1000px) {
    .ingredientsCol {
      width: 275px;
    }
  }

  @media (min-width: 1200px) {
    .ingredientsCol {
      width: 325px;
    }
  }
}

.ingredients {
  ion-label {
    margin: 0;
  }

  .scale {
    cursor: pointer;
  }

  ion-label {
    margin-top: 0;
  }

  h2 {
    margin-bottom: 10px;
  }

  .ingredient {
    .sectionHeader {
      display: block;
      margin: 4px 0;
    }

    &:first-child {
      .sectionHeader {
        margin-top: 0;
      }
    }

    &.complete {
      text-decoration: line-through;
      opacity: 0.7;
    }

    &.ingredientContent {
      cursor: pointer;
    }
  }
}

.instructions {
  ion-label {
    margin-top: 0;
  }

  h2 {
    margin-bottom: 10px;
  }

  .instruction {
    margin-bottom: 15px;

    .instructionContent {
      cursor: pointer;
    }

    span.complete .instructionContent {
      text-decoration: line-through;
      opacity: 0.7;
    }
  }
}

.notes {
  .header {
    font-weight: bold;
  }
}

.meta {
  border-top: 1px solid var(--ion-border-color);
  border-bottom: 1px solid var(--ion-border-color);
  margin-top: 15px;
  margin-bottom: 15px;

  ion-col {
    padding: 5px;
    font-size: 0.875rem;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  rating {
    margin-left: 5px;
    font-size: 18px;
    line-height: 14px; /* Should match other meta items */
  }
}

.label {
  font-size: 0.875rem;
}

.dropdownSelect input {
  font-size: 0.875rem;
}

.label-group-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
