.group {
  margin-bottom: 10px;
}

.meal-title {
  text-transform: capitalize;
  font-weight: bold;
}

calendar-item {
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

  background-color: var(--ion-background-tint-color);
  border-radius: 4px;
  padding: 8px;

  border-left: 4px solid;

  &:hover {
    background-color: var(--ion-background-tint-active-color);
  }

  &.dragging {
    opacity: 50%;
  }
}
