<ion-header>
  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      {{ 'pages.people.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <selfhost-warning-item *ngIf="isSelfHost"></selfhost-warning-item>

  <br />

  <null-state *ngIf="accountInfo && !accountInfo?.enableProfile">
    <ion-icon name="person-circle" class="big-icon" virtualSlot="header"></ion-icon>
    <ion-label virtualSlot="body">
      <p>
        {{ 'pages.people.nullState.1' | translate }}<br />
        {{ 'pages.people.nullState.2' | translate }}
        <br />
        <br />
        <ion-button (click)="editProfile()">
          <ion-icon slot="start" name="add"></ion-icon>
          {{ 'pages.people.create' | translate }}
        </ion-button>
      </p>
    </ion-label>
  </null-state>

  <ion-item *ngIf="accountInfo?.enableProfile" button (click)="editProfile()">
    <ion-icon slot="start" name="person-circle" *ngIf="!myProfile?.profileImages?.length"></ion-icon>
    <ion-avatar slot="start" *ngIf="myProfile?.profileImages?.length">
      <img [src]="myProfile.profileImages[0].location">
    </ion-avatar>
    <ion-label>
      {{ 'pages.people.edit' | translate }}
    </ion-label>
  </ion-item>

  <br />
  <br />
  <br />

  <ion-list *ngIf="accountInfo?.enableProfile">
    <ion-item-divider *ngIf="friendships?.friends?.length > 0">
      <ion-label>
        {{ 'pages.people.friends' | translate }}
      </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let friendship of friendships?.friends" button (click)="openProfile(friendship.otherUser.handle)">
      <ion-icon slot="start" name="person-circle" *ngIf="!friendship.otherUser.profileImages?.length"></ion-icon>
      <ion-avatar slot="start" *ngIf="friendship.otherUser.profileImages?.length">
        <img [src]="friendship.otherUser.profileImages[0].location">
      </ion-avatar>
      <ion-label>{{friendship.otherUser.name}}</ion-label>
      <ion-button slot="end" color="danger" (click)="$event.stopPropagation(); deleteFriend(friendship.otherUser.id)">
        {{ 'pages.people.unfriend' | translate }}
      </ion-button>
    </ion-item>

    <ion-item-divider *ngIf="friendships?.incomingRequests?.length > 0">
      <ion-label>
        {{ 'pages.people.invites' | translate }}
      </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let friendship of friendships?.incomingRequests" button (click)="openProfile(friendship.otherUser.handle)">
      <ion-icon slot="start" name="person-circle" *ngIf="!friendship.otherUser.profileImages?.length"></ion-icon>
      <ion-avatar slot="start" *ngIf="friendship.otherUser.profileImages?.length">
        <img [src]="friendship.otherUser.profileImages[0].location">
      </ion-avatar>
      <ion-label>{{friendship.otherUser.name}}</ion-label>
      <ion-button slot="end" (click)="$event.stopPropagation(); addFriend(friendship.friendId)">
        {{ 'pages.people.accept' | translate }}
      </ion-button>
      <ion-button slot="end" color="danger" (click)="$event.stopPropagation(); deleteFriend(friendship.otherUser.id)">
        {{ 'pages.people.decline' | translate }}
      </ion-button>
    </ion-item>

    <ion-item-divider *ngIf="friendships?.outgoingRequests?.length > 0">
      <ion-label>
        {{ 'pages.people.sentInvites' | translate }}
      </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let friendship of friendships?.outgoingRequests" button (click)="openProfile(friendship.otherUser.handle)">
      <ion-icon slot="start" name="person-circle" *ngIf="!friendship.otherUser.profileImages?.length"></ion-icon>
      <ion-avatar slot="start" *ngIf="friendship.otherUser.profileImages?.length">
        <img [src]="friendship.otherUser.profileImages[0].location">
      </ion-avatar>
      <ion-label>{{friendship.otherUser.name}}</ion-label>
      <ion-button slot="end" color="danger" (click)="$event.stopPropagation(); deleteFriend(friendship.otherUser.id)">
        {{ 'pages.people.cancel' | translate }}
      </ion-button>
    </ion-item>

    <null-state *ngIf="friendships?.incomingRequests?.length == 0 && friendships?.outgoingRequests?.length == 0 && friendships?.friends?.length == 0">
      <ion-icon name="people" class="big-icon" virtualSlot="header"></ion-icon>
      <ion-label virtualSlot="body">
        <p>
          {{ 'pages.people.noFriends.1' | translate }}<br />
          {{ 'pages.people.noFriends.2' | translate }}<br />
          {{ 'pages.people.noFriends.3' | translate }}
        </p>
      </ion-label>
    </null-state>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="findProfile()" color="primary">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
