<ion-list no-border>
  <ion-list-header>
    Actions
  </ion-list-header>

  <ion-button (click)="dismiss(); editRecipe()" expand="block" size="small" class="ion-margin">
    <ion-icon name='create' slot="start"></ion-icon>
    Edit Recipe
  </ion-button>
  <ion-button (click)="dismiss(); addRecipeToShoppingList()" expand="block" size="small" class="ion-margin">
    <ion-icon name='list' slot="start"></ion-icon>
    Add Recipe to Shopping List
  </ion-button>
  <ion-button (click)="dismiss(); addRecipeToMealPlan()" expand="block" size="small" class="ion-margin">
    <ion-icon name='calendar' slot="start"></ion-icon>
    Add Recipe to Meal Plan
  </ion-button>
  <ion-button (click)="dismiss(); shareRecipe()" expand="block" size="small" class="ion-margin">
    <ion-icon name='share' slot="start"></ion-icon>
    Share Recipe
  </ion-button>
  <ion-button (click)="dismiss(); printRecipe()" expand="block" size="small" class="ion-margin">
    <ion-icon name='print' slot="start"></ion-icon>
    Print Recipe
  </ion-button>
  <ion-button (click)="dismiss(); cloneRecipe()" expand="block" size="small" class="ion-margin">
    <ion-icon name='copy' slot="start"></ion-icon>
    Make a Copy
  </ion-button>
  <ion-button (click)="dismiss(); cookingToolbarService.isPinned(recipeId) ? unpinRecipe() : pinRecipe()" expand="block" size="small" class="ion-margin">
    <ion-icon name='pin' slot="start"></ion-icon>
    {{ cookingToolbarService.isPinned(recipeId) ? "Unpin Recipe" : "Pin Recipe Open" }}
  </ion-button>
  <ion-button (click)="dismiss(); deleteRecipe()" expand="block" size="small" class="ion-margin">
    <ion-icon name='trash' slot="start"></ion-icon>
    Delete Recipe
  </ion-button>
</ion-list>
