<div>
  <button
    class="selectedRecipe"
    (click)="selectedRecipe = null"
    *ngIf="selectedRecipe">
    <ion-item>
      <ion-avatar *ngIf="selectedRecipe.image" slot="start">
        <img src="{{ selectedRecipe.image.location }}">
      </ion-avatar>
      <h2>{{ selectedRecipe.title }}</h2>
      <p>Click to change</p>
    </ion-item>
  </button>

  <div class="dropdownSelect" *ngIf="!selectedRecipe">
    <ion-searchbar
      [(ngModel)]='searchText'
      (ngModelChange)="onSearchInputChange()"
      placeholder="Type to search for recipe..."
      autocomplete="off"
      #labelInputField
      id="labelInputField"></ion-searchbar>
    <div
      class="autocomplete">
      <button
        class="suggestion"
        *ngFor="let recipe of recipes"
        (click)="selectRecipe(recipe)">
        <ion-item no-lines>
          <ion-avatar *ngIf="recipe.image" slot="start">
            <img src="{{ recipe.image.location }}">
          </ion-avatar>
          <h2>{{ recipe.title }}</h2>
          <p>Click to select</p>
        </ion-item>
      </button>
      <!-- Searching for user for which a thread does not exist -->
      <button
        class="suggestion"
        *ngIf="searching">
        <ion-item no-lines>
          Searching for "{{ searchText }}"...
          <!-- <span class="hint"></span> -->
        </ion-item>
      </button>
      <!-- Searching for user for which a thread does not exist -->
      <button
        class="suggestion"
        *ngIf="recipes.length === 0 && searchText.length > 0 && !searching">
        <ion-item no-lines>
          No results for "{{ searchText }}"
        </ion-item>
      </button>
    </div>
  </div>
</div>
