<ion-header>

  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
    </ion-buttons>

    <!-- <ion-title>Contribute!</ion-title> -->
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding ion-text-center">
  <p class="headline">Contribute to RecipeSage</p>

  <div class="card">
    <logo-icon href="/#/about"></logo-icon>

    <a
      class="donate monthly-paypal"
      target="_blank"
      href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GUFFC8V9ESPJQ&source=url">
      Monthly
    </a>

    <!-- <br /> -->

    <a
      class="donate one-time-paypal"
      target="_blank"
      href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Y6WCWPZLJQWYY&source=url">
      One-time
    </a>

    <p>I truly appreciate any financial support you're able to give.</p>

    <p>
      I want to keep RecipeSage free and without ads, but hosting costs for recipes and images add up.
    </p>

    <p>Monthly donations of a small amount are the most helpful!</p>

    <a href="/#/about/details">A little about me</a>

    <br />
  </div>




</ion-content>
