<ion-header>

  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
    </ion-buttons>

    <!-- <ion-title>Contribute!</ion-title> -->
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding ion-text-center">
  <p class="headline">Contribute to RecipeSage</p>

  <div class="card">
    <logo-icon href="/#/about"></logo-icon>

    <!-- <ion-radio-group (ionChange)="setFrequency($event)">
      <ion-item>
        <ion-label>Monthly</ion-label>
        <ion-radio slot="start" value="monthly"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>One-Time</ion-label>
        <ion-radio slot="start" value="single"></ion-radio>
      </ion-item>
    </ion-radio-group> -->

    <div class="frequency-row">
      <ion-button [fill]="frequency == 'monthly' ? 'solid' : 'outline'" (click)="setFrequency('monthly')">
        <span>
          Monthly
        </span>
      </ion-button>
      <ion-button [fill]="frequency == 'single' ? 'solid' : 'outline'" (click)="setFrequency('single')">
        <span>
          One-Time
        </span>
      </ion-button>
    </div>

    <div class="amount-row" *ngIf="frequency == 'monthly'">
      <ion-button [fill]="amount == 1 ? 'solid' : 'outline'" (click)="setAmount(1)">
        $1.00
      </ion-button>
      <ion-button [fill]="amount == 5 ? 'solid' : 'outline'" (click)="setAmount(5)">
        $5.00
      </ion-button>
      <ion-button [fill]="amount == 10 ? 'solid' : 'outline'" (click)="setAmount(10)">
        $10.00
      </ion-button>
      <input
        placeholder="Custom"
        (focus)="focusCustom()"
        [(ngModel)]="customAmount" />
    </div>

    <div class="amount-row" *ngIf="frequency == 'single'">
      <ion-button [fill]="amount == 10 ? 'solid' : 'outline'" (click)="setAmount(10)">
        $10.00
      </ion-button>
      <ion-button [fill]="amount == 25 ? 'solid' : 'outline'" (click)="setAmount(25)">
        $25.00
      </ion-button>
      <ion-button [fill]="amount == 50 ? 'solid' : 'outline'" (click)="setAmount(50)">
        $50.00
      </ion-button>
      <input
        placeholder="Custom"
        (focus)="focusCustom()"
        [(ngModel)]="customAmount" />
    </div>

    <div class="submit-row" *ngIf="frequency">
      <ion-button [disabled]="!validAmount()" (click)="contribute()">
        <span>
          Contribute!
        </span>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </div>

    <p>I truly appreciate any financial support you're able to give.</p>

    <p>
      I want to keep Recipe Sage free and without ads, but hosting costs for recipes and images add up.
    </p>

    <p>Monthly donations of a small amount are the most helpful!</p>

    <a href="/#/about/details">A little about me</a>

    <br />
  </div>




</ion-content>
