<ion-header>

  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
    </ion-buttons>

    <ion-title>Import Recipes from Pepperplate</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <div class="slimPage">
    <ion-item lines="none">
      <ion-label class="ion-text-center ion-text-wrap">
        <br /><br />
        <p>
          <b>The import task can take several minutes</b> and depends on the availability of Pepperplate servers.<br />
          You will only see the imported recipes in your library once the full import task is complete.<br />
        </p>
        <br />
        <p>
          If you have issues with the import process, feel free to send an email to <a href="mailto:julian@recipesage.com?subject=RecipeSage Support">julian@recipesage.com</a>.<br />
          <b>Note: </b>If you have a very large recipe collection your browser may time out before the import is complete, resulting in an error.
          To avoid creating duplicates, please check the "My Recipes" page before trying the import again.<br /><br />
          If duplicates are created accidentally, you can use the "delete all recipes" button on the account page to start over.
        </p>
        <br />
        <p>
          Please enter the credentials associated with your Pepperplate account:
        </p>
      </ion-label>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label position="floating">Pepperplate Email/Username</ion-label>
        <ion-input autocomplete="off" autofill="off" [(ngModel)]="username" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Pepperplate Password</ion-label>
        <ion-input autocomplete="new-password" autofill="off" [(ngModel)]="password" type="password"></ion-input>
      </ion-item>

      <br /><br />

      <div class="ion-padding">
        <ion-button expand="block" (click)="scrapePepperplate()" *ngIf="!loading">Start Import</ion-button>
        <ion-button expand="block" *ngIf="loading">Importing, please wait...</ion-button>
      </div>

      <div class="ion-padding">
        {{ errorMessage }}
      </div>

    </ion-list>
  </div>
</ion-content>
