<ion-header>

  <ion-toolbar color="nav">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultBackHref"></ion-back-button>
    </ion-buttons>

    <ion-title>Release Notes</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding">
  <p>
    Here you'll find a summary of the changes made in each version.
    <br />
    To check for an update, please use the settings page
  </p>

  <br />

  <b>v2.3.1</b> - February 7, 2020<br />
  - Fixed an issue where the app would show an extra status bar at the top<br />
  - Fixed an issue where duplicate labels could be created for a recipe<br />
  - Fixed an issue where label count would be incorrect<br />
  - Fixed an issue where scaling ingredients when adding to shopping list would appear in shopping list unscaled<br />
  - Fixed an issue where exporting in text format would not include recipe images<br />
  - Fixed an issue where shopping lists and meal plans would not display collaborators in some cases<br />
  - Performance improvements<br />

  <br />

  <b>v2.3.0</b> - February 3, 2020<br />
  - Added label management page<br />
  - Rename a label across all of its recipes<br />
  - Delete a label from all associated recipes<br />
  - Merge two labels together across all of their recipes<br />
  - Alphabetical sorting in the label suggestion drop-down<br />
  - Fixed a bug where the undo button wouldn't work when removing shopping list items<br />

  <br />

  <b>v2.2.9</b> - January 31, 2020<br />
  - Improve image caching<br />

  <br />

  <b>v2.2.8</b> - January 28, 2020<br />
  - Reduce application network usage<br />
  - Fixed a bug where password reset would send a URL with an invalid domain<br />
  - Fixed an issue where the app may not open on old browsers (Chrome 49 and below)<br />
  - Improve Pepperplate import instructions and messaging<br />

  <br />

  <b>v2.2.7</b> - January 25, 2020<br />
  - Large performance improvements, especially for users with large recipe databases<br />
  - Improved search performance, especially when filtering by label while searching<br />
  - Fixed a bug on Safari where adding labels to recipes via the suggestion dropdown was broken<br />
  - Fixed a bug where the label suggestion dropdown would stop appearing after adding a label via the keyboard+enter<br />
  - Fixed an issue where the page may refresh unexpectedly on some devices<br />

  <br />

  <b>v2.2.6</b> - January 23, 2020<br />
  - Fix issues with importing Pepperplate labels (Pepperplate has partially discontinued support for multiple labels - this fix should bring those labels over for new imports)<br />

  <br />

  <b>v2.2.5</b> - January 22, 2020<br />
  - Improve support for Pepperplate formatting<br />
  - Improve Pepperplate import speed<br />
  - Eliminate Pepperplate duplication issues<br />
  - Fix Pepperplate missing recipes issues<br />
  - Better Pepperplate import stability when Pepperplate is running slow<br />

  <br />

  <b>v2.2.4</b> - January 21, 2020<br />
  - Add instructional modal for Pepperplate import<br />

  <br />

  <b>v2.2.3</b> - January 4, 2020<br />
  - Ingredient scaling notation support for "2 cups + 1 tablespoon" (support for + and plus directly between measurements)<br />

  <br />

  <b>v2.2.2</b> - January 3, 2020<br />
  - Fixed an issue where ctrl+click would not work for opening recipes from the "My Recipes" page<br />
  - Fixed an issue where meal planner would show items from previous years over items from current year<br />
  - Unicode fractions are now displayed and converted properly for recipe ingredient scaling<br />

  <br />

  <b>v2.2.1</b> - December 21, 2019<br />
  - Fixed an issue where recipe search would not work on IOS 13 devices<br />

  <br />

  <b>v2.2.0</b> - December 7, 2019<br />
  - Tile layout is now the default layout type - layout switching is available from the dropdown menu on the my recipes page<br />
  - WebExtension automatic field detection - <a [routerLink]="tipsTricksTutorialsPath">view tutorial</a><br />
  - Recipe images can now be expanded by clicking the recipe image on the recipe details page<br />
  - Add support for multiple images - (<a [routerLink]="contributePath">contributor bonus</a>)<br />
  - Add support for high res images (<a [routerLink]="contributePath">contributor bonus</a>)<br />
  - Update contribution page<br />
  - Add more to the <a [routerLink]="aboutDetailsPath">about me page</a><br />
  - Add dates to release notes<br />
  - Add social link to Discord channel<br />
  - Add remove button to delete image(s) from recipe on edit recipe page<br />
  - App page title is now more descriptive - more visible in search results<br />
  - Improve readability of welcome page by darkening welcome image<br />
  - Improve spacing on recipe details page to improve readability<br />
  - Fixed an issue where adding recipe to a meal plan was broken if no meal plans existed<br />

  <br />

  <b>v2.1.2</b> - November 4, 2019<br />
  - Fixed an issue where uploading images over 8MB would cause the edit recipe page to break<br />
  - Fixed an issue where realtime actions in shopping lists/meal plans would be broken on Firefox and some versions of IOS Safari<br />

  <br />

  <b>v2.1.1</b> - October 30, 2019<br />
  - Improved some styling bugs for IOS devices<br />
  - Added autocompletion, autocorrection and spellcheck to most inputs throughout the app<br />
  - Fixed a bug where text areas on the edit recipe page would not resize correctly in some situtations<br />

  <br />

  <b>v2.1.0</b> - October 28, 2019<br />
  - Added global split pane view option in app settings<br />
  - Added my recipes tile/list layout view option in my recipes menu options<br />
  - More images and requests are cached for longer, resulting in better performance<br />
  - Added social media links to about pages<br />
  - Add some personal profile links to the about me page<br />
  - Added contact page<br />
  - Added account stats to account & credentials page<br />
  - Added 404 (not found) page for unrecognized URLs<br />
  - Added a reset preferences option in settings<br />
  - Meal plan and shopping list selection pages are now sorted by title<br />
  - Last message date is now shown on message thread selection page<br />
  - Fixed blank page when navigating to unrecognized URL within app<br />
  - Fixed an issue where search results would duplicate when submitting an "empty" search<br />
  - Fixed print button in shopping list options popover<br />
  - Fixed colors on IOS devices<br />

  <br />

  <b>v2.0.2</b> - October 7, 2019<br />
  - Pepperplate import will now still work even if Pepperplate image servers are down
    (they are now almost always down, unfortunately)<br />

  <br />

  <b>v2.0.1</b> - October 6, 2019<br />
  - Fixed several cases where app would crash due to old cached versions<br />
  - Added warning when leaving the edit recipe page with unsaved changes<br />
  - Added handler for old urls to redirect to new url format<br />
  - Fix thumbnail sizing<br />
  - Fix push notifications<br />

  <br />

  <b>v2.0.0</b> - September 29, 2019<br />
  - Performance & under-the-hood improvements, including frontend framework revamp<br />
  - New theme options available in settings (dark & black oled). Defaults to system theme on supported browsers<br />
  - Multi-recipe selection now lives in the popover menu instead of long-press<br />
  - LivingCookbook import - FDX and FDXZ file format support<br />

  <br />

  <b>v1.8.5</b> - September 18, 2019<br />
  - Fixed an issue preventing filtering by labels with special characters<br />

  <br />

  <b>v1.8.4</b> - July 24, 2019<br />
  - Feature - Add shopping list print functionality<br />
  - Fix an issue where LCB import cookbook tagging can cause import to fail on older databases without cookbooks<br />

  <br />

  <b>v1.8.3</b> - July 4, 2019<br />
  - Improve LCB import speed<br />

  <br />

  <b>v1.8.2</b> - July 2, 2019<br />
  - Fixed an issue where pepperplate import would fail even with correct credentials<br />

  <br />

  <b>v1.8.1</b> - June 8, 2019<br />
  - Message threads now appear with newest on top<br />

  <br />

  <b>v1.8.0</b> - June 6, 2019<br />
  - Feature - remember/autoselect last used shopping list, or select the first by default if there is only 1<br />
  - Feature - remember/autoselect last used meal plan, or select the first by default if there is only 1<br />
  - Feature - added an option to filter by label intersection (selecting more labels = fewer results)<br />
  - Feature - added an option to exclude LCB images while importing<br />
  - Feature - external recipe sharing - share a link with anybody via any platform<br />
  - Feature - embeddable recipes - share your recipes by embedding them in a webpage<br />
  - Fix for a bug where messaging/sharing notifications would not be sent<br />

  <br />

  <b>v1.7.9</b> - May 18, 2019<br />
  - Added an option to include stock LCB recipes in import<br />
  - Fix for LCB formats where some fields cause importer to break<br />
  - Fix for service worker update when paused for multitasking<br />

  <br />

  <b>v1.7.8</b> - May 8, 2019<br />
  - Add support for importing LCB techniques<br />
  - Increase support for larger LCB files<br />

  <br />

  <b>v1.7.7</b> - May 1, 2019<br />
  - Fixed a bug where adding recipe ingredients to shopping list was broken<br />

  <br />

  <b>v1.7.6</b> - April 28, 2019<br />
  - Add new Paprika importer (Settings -> Import -> Import from Paprika)<br />
  - Add ability to temporarily check-off/mark ingredients or instructions<br />
  - Updated welcome screen text<br />
  - Fixed a bug where ingredient headers would appear in "add to shopping list"<br />

  <br />

  <b>v1.7.5</b> - April 21, 2019<br />
  - Add support for headers in ingredients and instructions<br />
  - Add tutorial for adding headers<br />
  - Increase image file size limit<br />
  - Images over file size limit are now pre-resized in the browser<br />
  - Image upload selector now only shows image files by default<br />
  - Fixed an issue that prevented removing fields from recipe after creation<br />
  - Browser Extension: Fixed the sourceURL field<br />
  - Browser Extension: Add warning when user is about to lose unsaved changes<br />

  <br />

  <b>v1.7.4</b> - April 16, 2019<br />
  - Browser Extension: Added support for Firefox<br />
  - Browser Extension: Better error messages for bad image URLs<br />
  - Added a "Download & Install" option to the sidebar for browsers that support PWAs (includes some desktop browsers!)<br />

  <br />

  <b>v1.7.3</b> - April 15, 2019<br />
  - Added help page for new browser extension<br />
  - Fixed an issue where image quality would be reduced in some browsers<br />
  - Fixed an issue where selecting image for recipe would cause lag<br />
  - Added a warning for images that are over the size limit<br />

  <br />

  <b>v1.7.2</b> - April 9, 2019<br />
  - Meal plan page now displays in side-by-side split view on wide screens<br />
  - Fixed a bug where warning for old browsers (at or below IE11) would not trigger<br />

  <br />

  <b>v1.7.1</b> - April 9, 2019<br />
  - Added a thank-you message for contributors - thank you!<br />
  - Fixed a bug where clicking the contribute button would not launch<br />
  - Increased the recipe pagination buffer for the my recipes page to help with fast scrolling<br />
  - Fixed a bug where LCB images would not be imported for some file formats<br />
  - Vastly improved LCB import performance<br />

  <br />

  <b>v1.7.0</b> - April 4, 2019<br />
  - Improved recipe bulk actions, now is less network-heavy<br />
  - Improved homepage navigation. Homepage only reloads recipes when needed - such as when a recipe or label is changed.<br />
  - Fixed a bug where homepage would show no recipes if a label was selected, but then deleted via the recipe details page.<br />
  - Added a better error message for when a user uploads an invalid file format for LCB import.<br />
  - Improved search: Added fuzzy matching - mistyped words will now show results, but at a lower ranking in the results with exact matches<br />
  - Improved search: Re-added support for searching in source, description, instructions, ingredients, and notes.<br />
  - Improved search: A match in the title will be heavily boosted, and a match in the source or description will be slightly boosted<br />
  - Added a warning for unsupported browsers<br />
  - Added the contribute page to the sidemenu!<br />
  - Added an action button to add recipe to meal plan from the recipe details page<br />
  - Recipe authoring page (edit, create) now shows preview of recipe image<br />
  - Added a tips, tricks and tutorials page to the about and support page<br />
  - Open recipes in new tab from recipe list: control + click or command + click on a recipe<br />
  - Fixed a bug where message thread text input would be slow on longer threads<br />

  <br />

  <b>v1.6.4</b> - April 2, 2019<br />
  - Fixed a bug where the Living Cookbook importer would break for specific versions/formats of LCB databases<br />

  <br />

  <b>v1.6.3</b> - March 28, 2019<br />
  - Added a filter to remove all default Living Cookbook recipes (recipes that shipped with Living Cookbook)<br />

  <br />

  <b>v1.6.2</b> - March 26, 2019<br />
  - Fixed a bug where recipes would not be properly sorted<br />

  <br />

  <b>v1.6.1</b> - March 26, 2019<br />
  - More large performance improvements for large and small recipe collections<br />

  <br />

  <b>v1.6.0</b> - March 23, 2019<br />
  - Large performance improvements for large recipe collections<br />
  - Improved recipe search engine<br />
  - Improved the welcome experience for app features<br />
  - Added label toggles to recipe page as an option<br />
  - Fixed a bug where lcb import would fail due to null fields in some lcb formats<br />
  - Fixed a bug where duplicate labels could be created when using bulk actions<br />
  - Fixed an issue where source URLs without a preceeding http:// or https:// would not open their respective website by click<br />

  <br />

  <b>v1.5.7</b> - March 6, 2019<br />
  - Large performance improvements for LCB import<br />
  - LCB import page warns user when file is too large<br />

  <br />

  <b>v1.5.6</b> - March 4, 2019<br />
  - Performance improvements for label filter dialogue and for recipe details page<br />

  <br />

  <b>v1.5.5</b> - March 3, 2019<br />
  - Fixed a bug where importing from LCB would create duplicate labels<br />

  <br />

  <b>v1.5.4</b> - March 2, 2019<br />
  - Recipe bulk actions: press and hold a recipe for actions on multiple recipes at once<br />
  - New iconography for menus<br />
  - Better client-side error handling<br />
  - Fixed a bug that caused the meal plan delete button to be broken<br />

  <br />

  <b>v1.5.3</b> - March 2, 2019<br />
  - Fixed a bug where "delete all recipes" would not work on extremely large recipe collections<br />

  <br />

  <b>v1.5.2</b> - February 28, 2019<br />
  - Added "delete all recipes" option in settings under "danger zone"<br />
  - Fixed a bug where changing password would not dismiss loading bar<br />

  <br />

  <b>v1.5.1</b> - February 26, 2019<br />
  - Fixed a bug where Living Cookbook import would fail<br />
  - Fixed a bug where recipe url would not show if no source was present<br />
  - Fixed a bug where Living Cookbook import would not include the cooking time field<br />

  <br />

  <b>v1.5.0</b> - February 14, 2019<br />
  - Added LivingCookbook import option<br />

  <br />

  <b>v1.4.11</b> - February 11, 2019<br />
  - Updated "My Recipes" welcome screen<br />

  <br />

  <b>v1.4.10</b> - February 5, 2019<br />
  - Fixes a bug where Pepperplate import would fail due to updates to Pepperplate<br />
  - Adds a select/deselect all option to select ingredients component<br />
  - Disabled shopping list grouping by default<br />
  - Improved messaging styling<br />
  - Fixed a bug where messaging previews would be incorrect<br />
  - Search submit now dismisses keyboard<br />
  - Disabled autofill for form fields that have custom autofill<br />

  <br />

  <b>v1.4.9</b> - January 28, 2019<br />
  - Fixes a bug where new visitors would be prompted to update<br />
  - Fixes a bug where account update would not verify email address<br />
  - Updated security for password reset - now forces a login on all devices signed into the account<br />
  - Improved API performance<br />

  <br />

  <b>v1.4.8</b> - December 24, 2018<br />
  - Performance improvements for slow network conditions<br />
  - Fixed a bug on IOS where a white screen would be shown on launch<br />

  <br />

  <b>v1.4.7</b> - December 22, 2018<br />
  - New welcome page<br />
  - More friendly login page<br />
  - Login page messages now appear as toasts<br />
  - Added a prompt for when updates are pending in background<br />
  - Fixed a bug where recipe export would throw an error<br />

  <br />

  <b>v1.4.6</b> - December 17, 2018<br />
  - Fixed a bug where the print dialogue may freeze upon opening, or trigger the print dialogue directly<br />

  <br />

  <b>v1.4.5</b> - December 16, 2018<br />
  - Fixed a bug where search would not update immediately after selecting a new sort option<br />
  - My Recipes popover now closes automatically after selection is made<br />

  <br />

  <b>v1.4.4</b> - December 16, 2018<br />
  - Fixed a bug where search would return only a single result<br />
  - Search worker is now loaded from the main package enabling offline search<br />

  <br />

  <b>v1.4.3</b> - December 15, 2018<br />
  - Greatly improved performance on My Recipes page by switching to VirtualScroll<br />

  <br />

  <b>v1.4.2</b> - December 14, 2018<br />
  - Updated lunr (search) to 2.3.5<br />

  <br />

  <b>v1.4.1</b> - December 13, 2018<br />
  - Fixed a bug where message threads would not sort<br />

  <br />

  <b>v1.4.0</b> - December 12, 2018<br />
  - Added meal plan feature<br />
  - Improved recipe selection modal for shopping lists<br />
  - Improved item selection modal for shopping lists<br />
  - Fixed message autocorrect<br />
  - Message timestamps can now be accessed via press-and-hold<br />
  - Many, many under the hood improvements, including API rewrite<br />

  <br />

  <b>v1.3.1</b> - August 26, 2018<br />
  - Fixed label duplication issue when navigating between views<br />

  <br />

  <b>v1.3.0</b> - August 25, 2018<br />
  - Added shopping lists feature<br />
  - Added password reset (forgot password) functionality<br />
  - Added message timestamps<br />
  - Instant messaging now works on IOS devices<br />

  <br />

  <b>v1.2.1</b> - July 15, 2018<br />
  - Fixed compatibility issues for devices without notification support<br />

  <br />

  <b>v1.2.0</b> - July 7, 2018<br />
  - Added recipe printing<br />
  - Updated recipe details page layout. On large screens, ingredients and instructions now appear side-by-side.
      Improved readability of recipe details<br />
  - Fixed a bug where the welcome page would appear quickly during app launch if already logged in.
      The app now routes straight to the 'my recipes' page<br />
  - Fixed a bug where search results would flash quickly when returning to search results page<br />
  - Improved text area sizing for recipe edit/create page. Fields now resize with text instead of displaying a scrollbar<br />

  <br />

  <b>v1.1.3</b> - June 20, 2018<br />
  - Log out now disables notifications and deletes session for security<br />
  - Notification permission prompt has been moved to messaging page<br />
  - Small performance improvements<br />
  - Removed misleading scrollbar from modal messages<br />
  - Recipe scale modal now accepts fraction input<br />
  - About and Support page is now visible when logged out<br />
  - Sessions are now valid for up to 7 days of inactivity instead of 3<br />

  <br />

  <b>v1.1.2</b> - June 10, 2018<br />
  - Further improved application performance<br />
  - Recipes are cached for offline use, provided they have been opened before<br />
  - Images are cached for offline use, provided they have been opened before<br />
  - Better error handling for offline errors<br />
  - Improved welcome screen buttons. Better terminology and separate buttons<br />
  - Improved welcome screen image. Now loads image at size appropriate for device resolution<br />
  - Added welcome tab to sidebar when logged out<br />
  - Log Out now takes you to welcome screen<br />
  - Added update button to settings, allowing the user to manually trigger app update<br />

  <br />

  <b>v1.1.1</b> - June 5, 2018<br />
  - Greatly improved application performance<br />
  - Reduced network data usage<br />
  - Asset/application caching<br />
  - Better update management<br />

  <br />

  <b>v1.1.0</b> - June 3, 2018<br />
  - Messaging functionality<br />
  - Removed Recipes by Label page. You can find parallel functionality by using the recipe filter on the My Recipes page<br />
  - Added recipe count to label filter modal<br />
  - Added Welcome, About, Contribute, Release Notes, and About Me pages (text-only)<br />
  - Added Export page and export functionality<br />
  - Added quick actions to recipe items (slide to left)<br />
  - Delete confirmations now have red button to warn user<br />
  - Duplicate recipe titles are now renamed slightly (#)<br />
  - Clicking on recipe source URL now opens in new tab<br />
  - Improved recipe scale input. Now uses a modal<br />
  - Improved titles for sort options<br />
  - Improved import process. Now notifies you during import task, and warns if the task has failed<br />
  - Fixed a bug where label autocomplete would grow too large for screen when user had a large number of labels<br />
  - Fixed a bug where labels would duplicate when trying to delete them<br />
  - Label selection can now be done via the arrow keys and enter<br />
  - Fixed a bug in update notification<br />
  - Fixed a bug where users would receive multiple notifications<br />
  - Fixed a bug where log in page would not autofill credentials in Chrome<br />
  - Log in page email field now brings up email-type keyboard for mobile devices<br />
  - Better loading bar. No longer disrupts user experience<br />
  - Notes field now holds linebreaks<br />
  - Fixed a bug where recipe inbox count does not show in sidemenu<br />
  - Fixed a bug where recipe source would not be imported from pepperplate<br />
  - Fixed a bug where imported recipes with special characters wouldn't render correctly<br />

  <br />

  <b>v1.0.7</b> - May 27, 2018<br />
  - Improved label selection<br />
  - Application now notifies user when a new update is available<br />

  <br />

  <b>v1.0.6</b> - April 10, 2018<br />
  - Application preloading and speed improvements<br />

  <br />

  <b>v1.0.5</b> - April 8, 2018<br />
  - Improved label selection on recipe page<br />
  - Improved recipe search<br />
  - Bug fixes<br />

  <br />

  <b>v1.0.4</b> - April 4, 2018<br />
  - Fixed a navbar bug on the profile page<br />

  <br />

  <b>v1.0.3</b> - April 1, 2018<br />
  - Fixed some issues with edit page<br />
  - Added profile page<br />

  <br />

  <b>v1.0.2</b> - March 31, 2018<br />
  - Networking improvements<br />

  <br />

  <b>v1.0.1</b> - March 30, 2018<br />
  - Added version number to sidemenu<br />

  <br />

  <b>v1.0.0</b> - March 30, 2018<br />
  - Initial public release<br />

  <br />

  <b>Pre-release versions</b><br />
  - All beta & alpha versions<br />
</ion-content>
