page-message-thread {
  .message {
    margin-top: 2px;
    margin-bottom: 2px;
    
    .chat {
      display: inline-block;
      background: whitesmoke;
      padding: 10px;
      // border-radius: 20px;
      border-radius: 6px;
      text-align: left;
      max-width: 60%;
      
      span {
        color: black;
        white-space: pre-wrap;
      }
    }
    
    .recipe {
      width: 60%;
      // border-radius: 20px;
      border-radius: 6px;
      background: whitesmoke;
      
      ion-item {
        background: transparent;
      }
    }
    
    &.me {
      text-align: right;
      
      .chat {
        background: #00a8ff;
        
        span {
          color: white;
        }
      }
      
      .recipe {
        margin-left: 40%;
        background: #00a8ff;
        
        ion-item {
          h2 {
            color: white;
          }
          
          .description {
            color: white;
          }
        }
      }
    }
  }
  
  .reload.reloading {
    animation: spin 1s linear infinite normal none;
  }
  
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
