<ion-header>
  <ion-navbar color="navBar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Shopping Lists</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item class="shoppingList" *ngFor="let shoppingList of shoppingLists" (click)="openShoppingList(shoppingList.id)" text-wrap>
      <ion-icon name="list" item-start></ion-icon>
      <h2>{{ shoppingList.title }}</h2>
      <p>
        Created {{ formatItemCreationDate(shoppingList.createdAt) }}
      </p>
      <p *ngIf="shoppingList.collaborators.length > 0">
        In collaboration with:
        <span *ngFor="let user of shoppingList.collaborators">
          <span *ngIf="shoppingList.myUserId !== user.id">{{ user.name || user.email }}</span>
        </span>
        <span *ngIf="shoppingList.myUserId !== shoppingList.owner.id">{{ shoppingList.owner.name || shoppingList.owner.email }}</span>
      </p>
      <p>
        <span *ngIf="shoppingList.myUserId !== shoppingList.owner.id">Created by {{ shoppingList.owner.name || shoppingList.owner.email }}</span>
        <span *ngIf="shoppingList.myUserId === shoppingList.owner.id">You own this list</span>
      </p>
      <ion-badge item-end>{{ shoppingList.itemCount }}</ion-badge>
    </ion-item>
    <ion-item *ngIf="shoppingLists.length === 0 && initialLoadComplete" text-wrap text-center>
      <br />
      <br />
      <br />
      <p>
        You have no shopping lists.
        <br />
        <button ion-button icon-left (click)="newShoppingList()">
          <ion-icon name="add"></ion-icon>
          Create your first list
        </button>
      </p>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button (click)="newShoppingList()" ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
