$container-layer: 0;
$bg-layer: 1;
$content-layer: 2;

.intro-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.025);
  z-index: $container-layer; // Move this below

  .intro-fold,
  .intro-fold-dimmer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 62%;
    z-index: $bg-layer; // Move this below all other layers

    @media only screen and (min-width: 450px) {
      bottom: 55%;
    }
  }

  .intro-fold {
    overflow: hidden;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);

    background-image: url("../../../../assets/stockphotos/chicken-salad-640.jpg");
    background-position: top;
    background-size: cover;

    @media only screen and (min-width: 641px) {
      background-image: url("../../../../assets/stockphotos/chicken-salad-1280.jpg");
    }
    @media only screen and (min-width: 1281px) {
      background-image: url("../../../../assets/stockphotos/chicken-salad-1920.jpg");
    }
    @media only screen and (min-width: 1921px) {
      background-image: url("../../../../assets/stockphotos/chicken-salad-original.jpg");
    }
  }

  .intro-fold-dimmer {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .title,
  .screen,
  .welcomeContent {
    position: relative;
    z-index: $content-layer;
  }

  .title {
    text-align: center;
    color: white;
    padding: 25px;
    padding-top: 80px;
    padding-bottom: 60px;

    @media only screen and (min-width: 450px) {
      padding: 60px;
    }

    h1 {
      font-size: 2.5rem;

      @media only screen and (min-width: 450px) {
        font-size: 3.5rem;
      }
    }

    .subtitle {
      font-size: 1.2rem;

      @media only screen and (min-width: 450px) {
        padding: 1.5rem;
      }
    }
  }

  a.login {
    cursor: pointer;
    color: white;
  }

  .screen {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;

    @media only screen and (min-width: 350px) {
      max-width: 300px;
    }

    @media only screen and (min-width: 500px) {
      max-width: 400px;
    }

    img {
      box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.35);

      &.ios {
        border-radius: 15px;
      }
    }
  }

  .welcomeContent {
    margin-top: 50px;
    max-width: var(--content-max-width);
    margin-left: auto;
    margin-right: auto;

    .sectionHeader {
      font-size: 1.5rem;
      font-weight: 500;
    }

    li {
      padding: 2px 0px;
    }
  }

  .footer-action {
    text-align: center;
  }
}
